<h1>American Heritage Festival</h1>

<p>September 25, 2010 - September 26, 2010 </p>


<p>Join us as we take a step back in time and experience a piece of our rich Mid-Michigan cultural heritage. A day the whole family will enjoy. </p>

<p>Click to Download Flyer </p> <!--Link to American Heritage Fest PDF-->

<h2>Call for Artists and Entertainers!</h2>

<p>We are accepting applications for farmers market vendors, entertainers, and educators who would like to be a part of this great event.</p>
<p>Click here for application and more information</p> <!--Links somewhere but is currently broken-->
<h2>Admission</h2>
<p>2010 Admission  <!--These are not list items, but they make sense on seperate lines, without space between them-->
Adults: $7/Members $5
Children 12 and under:$3</p>

<h3>Saturday Concert</h3> 
<p>Adults: $10/ WNC or WLNZ Members: $8
Children 12 and under: Free</p>


<h2>Activities & Demonstrations (all activities subject to change)</h2>

<p>Farmers Market, pioneer toys, Apple cider pressing, spinning, live animals, blacksmithing, historic farm tool display, spinning, lace making, good old time music, Grand River pontoon boat rides, good food, WolduMarket and much more.<p>
<p>Click to See What's Going On!</P> <!-- links to an placeholder page-->

<h2>Entertainment</h2>

<p>joy traditional music played on the front porch of the Moon Log Cabin.</p>
<p>Click for Entertainment Schedule </p> <!--links to AHFStageLineup2010.pdf-->
