<h1>Birthday Parties</h1>

<p>Are you looking for a fun place to have your child’s next birthday party? Woldumar’s Rock Room is available for birthday parties. Select a package and a theme, then give us a call at 517-322-0030. </p>

<h2>Choose one of these Birthday Party Packages:</h2>


<p>All Birthday Party Pacages include:
<ul>
<li>Two hours of room rental</li>
<li>One theme-based program with a staff naturalist</li>
<li>Use of refrigerator and freezer</li>
<li>Use of tables and chairs</li>
<li>Party space for up to 25 people (includes all children and adults)</li></p>

<h3>Basic Party Package</h3>
<p>$100 for Woldumar Members; $120 for non-members. This package includes all of the basics listed above. </p>

<h3>Sweets Package</h3>
<p>$150 for Woldumar Members; $170 for non-members. This package includes all of the basics, plus cupcakes for 25 from Meijer bakery and one five quart bucket of QD ice cream. Please reserve your date at least two weeks in advance for this package. </p>

<h3>Goodies Package</h3>
<p>$170 for Woldumar Members; $190 for non-members. This package includes all of the basics, plus goodie bags for up to 11 guests and 15 personalized invitations for you to mail. Please reserve your date at least four weeks in advance for this package. </p>

<h3>Decoration Package</h3>
<p>$200 for Woldumar Members; $220 for non-members. Requires an additional $35 refundable deposit. This package includes all of the basics, plus a balloon bouquet and use of Woldumar's brightly colored, eco-friendly table settings and decorations. Woldumar staff will set up and clean up tables and decorations. </p>

<h3>Treats Package</h3>
<p>$210 for Woldumar Members; $230 for non-members. This package inclues all of the basics, plus the extras included in the sweets package and the goodies package. </p>

<h3>Birthday Bash Package</h3>
<p>$260 for Woldumar Members; $280 for non-members. Requires and additional $35 refundable deposit. This package includes all of the basics, plus the extras included in the Treats Package and the Decoration Package. </p>

<h3>Pizza Party Package</h3>
<p>$325 for Woldumar Members; $350 for non-members. Requires and additional $35 refundable deposit. This package includes all of the basics, the extras included in the Birthday Bash Package, plus three 16" one topping pizzas from Tony M's and a beverage. </p>

<h3>Sub Sandwich Party Package</h3>
<p>$350 for Woldumar Members; $375 for non-members. Requires and additional $35 refundable deposit. This package include all of the basics, the extras included in the Birthday Bash Package, plus two large sub trays and a beverage.</p


<h2>Choose one of these Birthday Party Themes:</h2>

<h3>Animal Themes</h3>

<h3>Amazing Amphibians</h3>
<p>45 minute program, offered April-November. Appropriate for ages 5-12. Discover Michigan's amazing amphibians. Visit with live animals and go on an amphibian hunt. Add an age appropriate craft for $30. </p>

<h3>Bird's the Word</h3>
<p>30 minute program, offered year-round. Appropriate for ages 5-12. <i>This theme requires an additional $35 refundable deposit.</i> Grab the binoculars! It's time to see and hear our feathered friends. Woldumar will lend binoculars to your guests and a naturalist will lead your group on a bird-watching expedition. Extend your time with the naturalist and add an age appropriate craft for an additional $45. </p>

<h3>Insect Safari</h3> 
<p>30 minute program, offered May-September. Appropriate for ages 3-12. Get out the nets; it's time to catch insects! Naturalist led activities will allow you and your guests to explore the wild world of minibeasts. Extend your time with the naturalist and add an age appropriate craft for $45. </p>

<h3>Mystery Mammals</h3>
<p>30 minute program, offered year-round. Appropriate for ages 3-12. What makes an animal a mammal? Discover the answer to this question while playing games and visiting live animals. Select the option of either a short hike or an age appropriate craft. Extend your program time by fifteen minutes to do both hike and craft for an additional $10. </p>

<h3>Pond Pals</h3>
<p>45 minute program, offered April-November. appropriate for ages 5-12.
This theme requires an additional $35 refuncable deposit. Hike out to the pond and spend some time dipping for aquatic insects, tadpoles and other watery surprises. What's under the water? I guess you'll have to select this theme to find out! </p>

<h3>Rockin' Reptiles</h3>
<p>30 minute program, offered April-November. Appropriate for ages 3-12. Spend time with living reptiles. Select the option of either a short hike or an age appropriate craft. Extend your program time by fifteen minutes to do both hike and craft for an additional $10. </p>

<h2>Culture and History Themes</h2>

<h3>Go Native</h3> 
<p>45 minute program, offered year-round. Appropriate for ages 5-12. Play games that originated in American Indian culture, make a shelter in the pine forest weather permitting) or take a hike and make pictograph messages. </p>

<h3>Party Like It's 1869</h3> 
<p>30 minute program, offered year-round. Appropriate for ages 5-12. Take a hike into history, make a pioneer craft, and practice using historical tools and toys. Add a 15 minute visit to the cabin for an additional fee of $15. </p>

<h2>Nature and Environment Themes</h2>


<h3>Being Green</h3> 
<p>30 minute program, offered year-round. Appropriate for ages 5-12. Play games and make two tools to discover how to help save the earth. Add an age  appropriate craft for $30.</p> 

<h3>Nature Detectives</h3> 
<p>30 minute program, offered year-round. Appropriate for ages 3-6. Use your nature detective tools, your senses, to discover the natural world around you. Take a short hike and make a craft while using all five of your senses to explore. </p>

<h3>Plenty of Plants</h3> 
<p>45 minute program, offered April-November. 30 minute program offered December-March. Appropriate for ages 7-12. Plants provide us with almost everyhting we need to survive. Explore the trails and visit the Woldumar gardens to find out what's "growing on!" </p>

<h3>Predator!</h3> 
<p>30 minute program, offered year-round. Appropriate for ages 5-12. Who is the biggest predator at Woldumar? What does it eat? Explore the grounds and play a game to get the answers to these questions and more. Add an age appropriate craft for $30.</p>

<h3>Wild Weather</h3> 
<p>45 minute program, offered year-round. Appropriate for ages 7-12. Michigan gets some weird, wacky and wild weather. Make weather monitoring equipment and give it a try during this wild and wonderful program. This program may be delivered in two 20-25 minute parts, depending upon the, you guessed it, weather. </p>

<h3>Winter Wonders</h3>
<p>30 minute program, offered December-March. Appropriate for ages 3-12. Tricky tracks, sparkling snowflakes and chilly cheeks make an extra special time for a party at Woldumar. Outdoor and indoor activities will be planed based upon the weather. Extend your time with the naturalist and add an age appropriate craft for $45.</p> 

<h3>Wonderful Wetlands</h3>
<p>45 minute program, offered April-October. Appropriate for ages 7-12. Swampy Birthday! Explore Woldumar's wonderful wetlands and marvelous mud with a naturalist. </p>

<p>Additional rental time can be purchased for $50 per hour. </p>

<p>Additional naturualist time can be purchased for $15 per half hour.</p>

<p>If you can't find what you're looking for, we would be happy to plan a program that meets your needs! Simply tell us what kind of a party you want and we'll work with your ideas! Additional fees may apply. Call for more details (517) 322-0030.</p>