<h1>Rental Information</h1>>

<p>Host a party, celebrate a marriage, gather for a conference, perform a show, or meet with you organization at Woldumar.</p>

<p>Our rental coordinator is pleased to take your calls from 10:00 a.m. to 5:00 p.m., Tuesday through Friday. To schedule a tour of our facilities, please call Kevin at (517) 322-0030 or click here to email Kevin</p> <!--Mailto Link required-->
<p>The RE Olds Anderson Rotary Barn and the Moon Log Cabin, unless otherwise specified, are closed to the public.</p>


<p>Download the Rental Brochure</p> <!--Link to the rental brochure rentalbrochure.pdf-->
<p>Contact Woldumar at (517) 322-0030 for current pricing and availability.</p>

<h2>Facilities</h2>

<h3>RE Olds Anderson Rotary Barn</h3>

<p>The historically renovated RE Olds Anderson Rotary Barn was remodeled in 2004 through the generosity of the mid-Michigan Rotary Clubs. Upper and lower floors are available for gatherings of up to 210 people. The space is well suited to receptions, concerts, dances, meetings, and small conferences.</p>


<p><b>Hal & Jean Glassen Memorial Auditorium</b> - The second story auditorium space accommodates up to 150 people. This open, airy barn loft is heated and accessible by stairs and elevator. In-house lighting can be set to illuminate a stage area for concerts, performances and lectures. Woldumar is able to provide portable room dividers to visually divide the space for small group breakout sessions. </p>

<p><b>Conference Classroom</b> - The first floor classroom space is reminiscent of the building's early days as a dairy barn. A long, narrow room offers plenty of space for tables, displays, and buffets. The classroom can be rented separately from the auditorium for groups that will not exceed 75 individuals.</p>

<p><b>Other Amenities</b>
<ul>
<li>Tables to seat up to 150 people and chairs for up to 210 are provided with barn rentals</li>
<li>Restrooms are located on the first floor</li>
<li>A kitchenette with a refrigerator and sink is provided for convenient food storage and clean up</li>
<li>From the first floor an authentic barn door opens onto a large porch. This open-air space is covered from May through September and picnic tables are provided</li>
<li>The Nature Study Classroom on the first floor accommodates up to 12 people. This cozy space is perfect for small group sessions or as a dressing room. This small classroom has a large white board, comfortable seating, and can be locked to store valuables</li>
</ul>


<h3>Visitors Center Rock Room</h3>

<p>This unique space houses Woldumar's live animal exhibits. It is used primarily for youth education and is available to rent for groups of up to 25 people. Annexed to this space, accessible from ground level, is a kitchen with professional dishwashing sinks, a large refrigerator and a large freezer. This kitchen space is available for food storage and clean up after. Food preparation is not permitted in Woldumar kitchen spaces. The rock room is a great place for small meetings and birthday parties. </p> <!--Link birthday party to birthday party page-->



<h3>Moon Log Cabin</h3>

<p>In 1862, the Moon family constructed this cabin a few miles away from Woldumar. In 1980, the cabin was moved to its current location. Woldumar uses the cabin for cultural heritage education. It is open to the public on Program Saturdays and during events. For an additional fee, this space is available with most rentals. </p>


<h2>Grounds</h2>

<p>Woldumar's diverse ecosystems present a wonderful environment for special occasions and gatherings. Ground rentals are available in three hour blocks fro groups of up to 250 people. The site you select will determine the number of people Woldumar can accommodate. Grounds areas that fall within the scope of regular maintenance, the areas near the builings, are available at no additional charge to those who rent the entire barn. Grounds rentals include use of chairs and access to the restrooms in the Visitors Center. Indoor space is not provided with a grounds rental. <p>


<p><b>Sunrise Pavilion</b> - The sunrise pavilion is nestled at the rear portion of Woldumar's regularly maintained area. Up to 20 people can be seated under the roof, making this space ideal for outdoor meetings. Larger groups, like weddings and concerts, often use the pavilion as a stage area and seat guests on the large, maintained lawn. The lawn area can seat up to 250 people. Tents are permitted.</p>

<p><b>Moon Log Cabin Porch</b> - The porch of the Moon Log Cabin provides a rustic setting for wedding ceremonies. Up to 120 people can witness your ceremondy at this regularly maintained site. Due to tree branches and vehicle inaccessibility, large tents are not permitted.</p>

<p><b>Herb Garden</b> - Next to the Moon Log Cabin is a well maintained herb garden. The entrance to the garden is a popular location for vow renewal ceremonies and small weddings. The seating space for your guests is in the same general area as the Moon Log Cabin Porch and can accommodate up to 120 guests. Large tents are not permitted.</p>

<p><b>Pine Forest<b> - Woldumar's pine plantation offers a shaded but open area that is available for short ceremonies and group meeting space. Pine forest capacity is limited to 60 people. Tents are not permitted. There is an additional maintenance fee for use of this space.</p>

<p><b>Prairie Path</b> - This secluded trail offers year-round color and open, sunny space. It is ideal for short ceremonies and group meeting space for up to 50 people. Tents are not permitted. There is an additional maintenance fee for use of this space. 

<h3>Pontoon Boat</h3>

<p>Donated by Triton Industries, Gordon Walter, and maintained by Grand Pointe Marina, this educational tool is available for rent. A staff naturalist will escort your party of up to 9 people to Turtle Lagoon where you will board Woldumar's Pontoon for a guided trip along the Grand River. </p>


<h2>Programs</h2>

<p>Let us design a program just for your group! Woldumar staff are trained to provide educational programs about nature and cultural heritage. Staff naturalists are able to work with groups from age 4 through adult and up to 90 people. For an additional fee, you can schedule a hike or demonstration as a part of your rental. Naturalist led programs are included with birthday parties and pontoon rentals.</p>

<h2>Additions to Rentals</h2>

<h3>Moon Log Cabin Fire Circle</h3>
<p>The fire circle can, for an additional fee, be included with any rental.</p>

<h3>Supplies and Equipment</h3>
<p>All indoor rentals are provided with tables and chairs at no additional charge. Grounds rentals are provided with chairs and picnic tables at no additional charge.</p>
<p>For an additional fee, Woldumar offers additional items for use at Woldumar during your rental.</p>
<p>Woldumar currently is unable to provide table linens, serving utensils, chafing dishes or other serving equipment, flatware, chinea, or glassware. These items can be rented from several nearby businesses.</p>