<h1>Woldumar Camps</h1>

<p>Help you children get outdoors and explore natures in a fun, safe, and nurturing environment. Woldumar Nature Center offers multiple opportunities to provide an experience in nature, leadership, and communication that they will stay with them thoughout their life."

<p>Learn more about which camp might be right for you child:
<ul>
<li>Spring Break Camp </li> <!-- Link to Spring Break Camp-->
<li>Summer Camp</li> <!--Link to Summer camp page-->
</ul>
</p>