<h1>"Chili" Winter Evening</h1>

<p>Your donation entitles you to:</p>
<ul>
<li>One horse-drawn sleigh ride</li>
<li>Treats by the bonfire</li>
<li>One chili dinner</li>
<li>Dessert in the Moon Log Cabin</li>
<li>Dancing to Motown Music</li>
<li>Unique items in the silent auction</li>
</ul>

<h3>Date</h3>
<p> Saturday, January 22, 2011 </p>

<h3>Time</h3>
<p>Sleigh Rides & Chili Dinner - 4:00pm to 8:00pm</p>
<p>Dance Instruction - 4:00pm to 6:00pm</p>
<p>60s Motown Music by Powerlight Band - 6:00pm to 10:00pm </p>

<p>Admission</p>

<p>$15.00     general admission</p>
<p>$12.00     students/seniors/Woldumar members</p>
<p>$10.00     children (12 and under) </p>

<h3>Silent Auction</h3>

<p>Items include one-of-a-kind paintings and ceramics, gift packages, gift certificates and more! Thank you Ledge Meadows Golf Course, Josh Tudor, Dale, Jan, and Ann Dodds, Inge Kyler, Ken Kortge, and Karl Hausler for your generous item donations. </p>

<p>Please RSVP by January 20</p>
<p>Call (517) 322-0030 or email lena@woldumar.org</p>

<p>Thank you Jeff Friedle & LSG Surveyors and Tony & Lois Bauer for sponsoring this event! </p>

<p>Click to download flyer. This is an outdoor event, please dress for the weather. In case of inclement weather, the "Chili" Winter Evening will be held Saturday, January 29. Please call (517) 322-0030 for possible postponement message.</p>  <!--Link to Chili%202011.pdf-->


