<h1>Community Programs</h1>

<h2>Mid-Michigan Bluegrass Society</h2>

<p><b>Sunday, February 20, March 20, April 17; 12:00 - 4:00 p.m.</b></p>
<p>Enjoy old-fashioned, jamming, toe-tapping music. Monthly Concerts. Musicians & public welcome.</p>
<p><b>Cost:</b> $4/person</p>

<h2>Fiber Fun</h2>

<p>All workshops are geared to beginners and provide instruction to adults working with children. Equipment and supplies will be provided. A materials fee of no more than $5 per session may be charged in addition to the registration fee of $40 per person per workshop. Preregistration is required. The signup deadline for each workshop is one week before the scheduled date.</p>

<h3>Saturday, March 12, 10 a.m. - 3 p.m.</h3>

<p><b>Inkle loom weaving</b></p>
<p>The small loom with the funny name is great for weaving belts, guitar straps, handles for tote bags, hatbands – even jewelry! This workshop covers selecting yarn; selecting, warping and weaving on inkle looms; books; and project possibilities. Looms and yarn are provided.</p>

<p><b>Spinning with a Drop Spindle</b></p>
<p>The drop spindle was an important part of making cloth before the spinning wheel was invented. This workshop will teach you how to spin yarn using the drop spindle. Learning how to draft the fiber and put enough twist into the yarn will make learning how to spin on a spinning wheel much easier. You will also see how many objects can be made into a drop spindle, and how to select a good working spindle. One of the best things about the drop spindle is that it can travel anywhere you go, so you can spin yarn anyplace. </p>

<h3>Sunday, March 13, 12 noon - 4 p.m.</h3>

<p><b>Inkle loom weaving</b></p>
<p>The small loom with the funny name is great for weaving belts, guitar straps, handles for tote bags, hatbands – even jewelry! This workshop covers selecting yarn; selecting, warping and weaving on inkle looms; books; and project possibilities. Looms and yarn are provided.</p>

<p><b>Learn to use a Spinning Wheel</b></p>
<p>Are you ready to join the fiber craze that is sweeping the nation? More and more people are learning to spin their own yarn on a spinning wheel. This workshop is for those of you who would like to learn to use a spinning wheel. Drafting the fiber and twisting the yarn are part of the process to make a good yarn. Learn how to get the right balance between your hands working and your foot pumping. Good fiber preparation is also covered in this class, so your spinning will be easy to master. Join in on the fun and enjoyment of spinning on a wheel.</p> 


<p>Wet felting and weaving amulut pouches on cardboard will be offered Saturday, April 9, 10 a.m. - 3 p.m. and Sunday, April 10, 12 noon - 4 p.m. Save these dates! More information regarding admission fees how to register will be available soon.</p>


<p>To register, call 517-322-0030 or email info@woldumar.org</P> <!--need to connect this to the registation form-->