<h1>Field Trips</h1>

<p>A truly unique and personal education experience awaits your students at Woldumar. Field trip programs are generally two hours long and include a brief indoor introduction, hands-on activities inside and out, and an interactive hike through our trails. Included along with a description of the program is a listing of the Michigan Grade Level Content Expectations met by each program. Programs are customized for your grade level and special needs as well as weather conditions. Be sure you and your students dress for the weather! </p>
<hr>
<h2>Animal Homes and Niches </h2>
<p><b>Grade:</b> K-1
<b>When:</b> Year Round
<b>Length:</b> 1 to 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science LO.OL.00.19, 20; L.EV.02.23; L.OL.03.32, 34
<b>Complementary Programs:</b> Mystery Mammals (TN), Amazing Amphibians and Remarkable Reptiles (TN), Powered by Plants (FT), Beasts with Backbones (FT), Winter Ecology (FT) </p>

<p>Natural artifacts, participatory activities and an exploratory hike will help students understand where animals live and how each living thing has a role in its community. Both living and non-living components of the environment will be explored in relation to habitats and survival. </p>

<h2>Beasts With Backbones<h2>

<p><b>Grade:</b> 3-5
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science L.EV.02.23; L.OL.03.34, 35; L.EV.04.33; L.EV.05.28
<b>Complementary Programs:</b> Mystery Mammals (TN), Amazing Amphibians and Remarkable Reptiles (TN), Animal Homes and Niches (FT), Got to Eat and Run (FT)</p>

<p>Help your students learn how to classify animals by focusing on their adaptations and behaviors. Interactive activities and habitat exploration will help your group understand the differences between birds, fish, amphibians, reptiles and mammals.</p> 

<h2>Bird Buddies</h2>

<p><b>Grade:</b> 1, 4-5
<b>When:</b> Year Round
<b>Length:</b> 1.5 to 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science LO.OL.00.19, 20; L.HE.01.16; L.EV.02.23; L.OL.03.32-35; L.OL.04.31; L.EV.04.32, 33; L.EC.04.34; L.EV.05.25, 27, 28; L.EC.06.32, 38, 39 
<b>Complementary Programs:</b> Animal Homes and Niches (FT), Beasts with Backbones (FT), Got to Eat and Run (FT) </p>

<p>All students will get an opportunity to experience a birding session on the trails. Younger students will gain an appreciation for the basic needs, physical characteristics, and survival strategies of our feathered friends by imitating bird behaviors and examining artifacts. Older students will take a closer look at feet, feather and beak adaptations, how they contribute to bird survival and the role of birds in the ecosystem. </p>

<h2>Fantastic Forests</h2>

<p><b>Grade:</b> 5-8
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science L.OL.06.29; L.EC.06.31, 32, 35 39; L.OL.07.37, 38
<b>Complementary Programs:</b> Powered by Plants (FT), Web of Life (FT), Winter Ecology (FT) </p>

<p>Discover the unique characteristics of the forest. Your students will examine how non-living things influence what lives in the forest and learn about the spatial layers and ecological relationships of this wondrous ecosystem through a series of unique activities. The program concludes with a field comparison of white pine and maple-beech forests. </p>

<h2>Got to Eat and Run</h2>

<p><b>Grade:</b> 4-6
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science L.EV.04.33; L.EC.04.34; L.EV.05.25, 27; L.OL.06.29-30; L.EC.06.31 33 and 38
<b>Complementary Programs:</b> Web of Life (FT), Powered by Plants (FT), Beasts with Backbones (FT), Insect Safari (FT), Winter Ecology (FT) </p>

<p>Fun and excitement are guaranteed as your students learn about the dynamic relationship between predator and prey. Through role-playing and exploration, your group will directly experience the survival strategies and adaptations of the hunter and the hunted. </p>

<h2>Groundwater Adventures</h2>
<p><b>Grade:</b> 2, 6-8
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science E.ES.03.36-42; L.EC.04.35; S.IR.05.13; E.ES.06.49, 50, 54 
<b>Complementary Programs:</b> Water Wisdom (TN), The Three R's of Recycling (TN), Pond Pals (FT) </p>

<p>Participatory activities, hands-on water experiments and a walk through our trails looking for water habitats will introduce students to the water cycle, the movement of water through the ground and human impact on water quality.</p>

<h2>Impressions of Nature</h2>

<p><b>Grade:</b> K-8
<b>When:</b> Year Round
<b>Length:</b> 1.5 to 2 hours
<b>Maximum Students:</b> 60
<b>State Correlations:</b> Elementary Art Performing in Visual Arts, 1 and 2; Creating Visual Arts 4 Science Processes S.IR.00.01, 02, 04; S.IR.01.01, 02, 04; S.IR.02.01.02.04; S.IR.03.01, 02, 04; S.IR.04.01, 02, 04; S.IR.05.01 
<b>Complementary Programs:</b> Walk with a Naturalist (FT), Nature Detectives (FT) </p>

<p>Let nature bring out the artist in your students! Bring them to Woldumar for a walk on our trails and let the beauty of their surroundings inspire them to interpret natural science through creative expression. Projects can focus on language or fine art. Additional fees may apply. </p>

<h2>Insect Safari</h2>

<p><b>Grade:</b> 1-5
<b>When:</b> Fall, Spring and Summer
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 60
<b>State Correlations:</b> Science L.EV.02.23; L.OL.03.32-35, L.OL.04.31; L.EV.04.32,33; L.EC.04.34; L.EV.05.25, 27, 28
<b>Complementary Programs: Got to Eat and Run (FT), Pond Pals (FT), Animal Homes and Niches (FT) </p>

<p>Experience the fascinating world of insect adaptations and life cycles. Using special collecting equipment, students will go buggy as they embark on a journey through fields and aquatic environments in search of six-legged creatures. </p>

<h2>Living Lightly with the Earth</h2>

<p><b>Grade:</b> 3-6
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 60 
<b>State Correlations:</b> Social Studies KH1, KG2; IH3, 4, IG6 and 7; 2H2; 3H1, 4H3 and 4; 5th Grade 1.1.1, 1.3.3, 1.3.4 
<b>Complementary Programs: Michigan Copper Mining (TN), Reflections of a Pioneer Child (FT), Sugaring Celebration (FT) </p>

<p>Turn back the hands of time to pre-settlement days and learn what it was like to be a Native American child in the Michigan area. A series of traditional activities, a story and a craft will help students learn about the deep connections Native Americans have with the Earth, and develop a greater appreciation and respect for the environment through investigation of this culture. </p>

<h2>Nature Detectives</h2>

<p><b>Grade:</b> PreK-3
<b>When:</b> Year Round
<b>Length:</b> 1.5 to 2 hours
<b>Maximum Students:</b> 90
<b>State Correlations:</b> Science S.IR.00.01, 02, 04; L.OL.00.19; S.IR.01.01, 02, 04; S.IR.02.01.02.04; L.OL.02.17
<b>Complementary Programs:</b> Walk with a Naturalist (FT), Track em Down (FT), <b>Impressions of Nature (FT) </p>

<p>Experience nature by becoming a detective! Sensory experiments and games will help your group discover how animals use their senses for survival. Students will use their senses to find wildlife clues indicating sources of food, water and shelter. </p>

<h2>Pond Pals</h2>

<p><b>Grade:</b> 1-3, 7
<b>When:</b> Fall, Spring, Summer
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 60
<b>State Correlations:</b> Science E.FE.01.19-21; L.OL.02.23; L.FE.02.33; L.OL.03.32-34; L.EV.04.32,33; L.EC.04.34, 35; L.EV.05.25, 27; L.EC.06.32, 38, 39; E.ES.06.49, 50, 54 
<b>Complementary Programs:</b> Wild and Rare (TN), Water Wisdom (TN), Web of Life (FT), Beasts with Backbones (FT), Powered by Plants (FT) </p>

<p>Following an introduction to aquatic habitats and wetland issues, students will hike to a woodland pond to explore the aquatic life in this unique habitat. Students will use investigative tools to learn firsthand about the water cycle, pond ecology and aquatic life cycles. </p>

<h2>Powered by Plants</h2>

<p><b>Grade:</b> 1-3
<b>When:</b> Fall, Spring, Summer
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science L.OL.02.17-19; L.EV.02.21; E.ES.02.25; L.OL.07.37 39 
<b>Complementary Programs:</b> Animal Homes and Niches (FT), Reflections of a Pioneer Child (FT), Living Lightly with the Earth (FT), Pond Pals (FT), Winter Ecology (FT)</p>

<p>Where would we be without plants? Ponder this question through a series of activities that highlight plant diversity, anatomy and habitat. Older students will focus on producers and photosynthesis. Fall programs will emphasize color changes and seed dispersal while spring and summer programs will highlight new growth. </p>

<h2>Reflections of a Pioneer Child</h2>

<p><b>Grade:</b> K-5
<b>When:</b> Year Round
<b>Length:</b> 1.5 - 2 hours
<b>Maximum Students:</b> 60
<b>State Correlations:</b> Social Studies KH1, KG2; IH3, 4 and IG6 and 7; 2H2; 3H1; 4H3 and 4 
<b>Complementary Programs:</b> Michigan Copper Mining (TN), Living Lightly with the Earth (FT), Sugaring Celebration (FT)</p>

<p>Take a step back in time to explore our changing environment and cultural heritage. Through a visit to the Moon Log Cabin and an exploration of pioneer activities, students will effectively link with a piece of Michigan's history. A hike emphasizing plant and animal use during the pioneer era highlights human interaction with the Earth over time. </p>

<h2>Sugaring Celebration</h2>

<p><b>Grade:</b> K-5
<b>When:</b> Winter (late January to mid-March)
<b>Length:</b> 1.5 to 2 hours
<b>Maximum Students:</b> 60 students
<b>State Correlations:</b> Social studies KH1, KG2; IH3, 4 and IG6 and 7; 2H2; 3H1; 4H3 and 4; 5th Grade 1.3.4 
<b>Complementary Programs: Reflections of a Pioneer Child (FT), Living Lightly with the Earth (FT), Michigan Copper Mining (TN)</p>

<p>We'll travel back in time to explore our cultural heritage and the magic of maple syrup in the 1800's. Through a visit to the Moon Log Cabin, hands-on syrup related activities, and a hike on the trails; students will explore the history of maple syrup in Michigan. </p>

<h2>Walk With a Naturalist</h2>

<p><b>Grade:</b> PreK-5
<b>When:</b> Year Round
<b>Length:</b> 1.5 to 2 hours
<b>Maximum Students:</b> 90
<b>State Correlations:</b> Science S.IR.00.01, 02, 04; L.OL.00.19; S.IR.01.01, 02, 04; S.IR.02.01.02.04; L.OL.02.17; S.IR.03.01, 02, 04; L.OL.03.32; S.IR.04.01,02,04; L.EV.04.32; S.IR.05.01 
<b>Complementary Programs: Animal Habitats and Niches (FT), Got to Eat and Run (FT), Powered by Plants (FT), Winter Ecology (FT)</p>

<p>Travel through various habitats with one of our Naturalists to learn about the wonders of nature. From fall colors to winter tracks and spring wildflowers, your students are sure to see something new and exciting through the "teachable moment" as well as structured highlights on the trails. </p>

<h2>Web of Life</h2>

<p><b>Grade:</b> 4-7
<b>When:</b> Year Round
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 100
<b>State Correlations:</b> Science L.OL.06.29, 30; L.EC.06.32, 33; E.ES.06.49 and 50; L.OL.07. 37, 38 
<b>Complementary Programs:</b> The 3 R's of Recycling (TN), Wild and Rare (TN), Got to Eat and Run (FT), Powered by Plants (FT), Beasts with Backbones (FT), Animal Homes and Niches (FT), Winter Ecology (FT) </p>

<p>Students will experience the fundamental processes of the water, air and nutrient cycles as they participate in several interactive activities. A hike emphasizing these natural cycles will instill a better understanding and appreciation of the fragile processes of our planet. </p>

<h2>Winter Ecology</h2>

<p><b>Grade:</b> 2-6
<b>When:</b> Winter
<b>Length:</b> 2 hours
<b>Maximum Students:</b> 90
<b>State Correlations:</b> Science L.EV.02.21, 23; L.OL.03.34; L.EV.04.32, 33, L.EC.04.34; L.EV.05.25, 27; L.OL.06.29 - 30; L.EC.06.31 33 and 38 
<b>Complementary Programs:</b> Web of Life (FT), Got to Eat and Run (FT), Animal Homes and Niches (FT) </p>

<p>Learn how Michigan's plants and animals spend the winter months. Wildlife adaptations to the cold and snow will be highlighted. After a series of indoor activities, we'll walk the trails looking for signs and tracks of cold weather critters while identifying plants in winter. </p>

<h1>Field Trip Extensions</h1>

<p>Have you ever felt that your time at Woldumar was just too short? With field trip extensions, your class can stay for an extra hour or two on our grounds to explore Woldumar further. The staff will give you plenty of information for you to guide your student's learning during this time. Field trip extensions could highlight nature journaling, giving students time to reflect on what they've just learned. You will need to bring along notebooks, pencils or whatever supplies you may need for your entire class. </p>

<p>You may also want to check out the Project GREEN program</p>

<p>or bring a Traveling Naturalist to your school</p>