<h1>Project GREEN </h1>

<h2>Global Rivers Environmental Education Network</h2>

<p>Project GREEN is an interdisciplinary, watershed-based education program providing high school students with hands-on opportunities to gain and apply classroom science, math and social studies skills to local water quality tests. Students are then guided to take informed action on any identified water problems, working toward resolution. </p>

<p>Project GREEN began in 1984 in Ann Arbor, Michigan. It grew out of the concern of local high school students over the state of the Huron River. Professor William Stapp developed a water-testing model (later named Project GREEN) to help them. In 1987, the project expanded to the Detroit area, in an effort to improve the quality of the education and environment there. From there, GREEN has grown to involve thousands of students worldwide. </p>

<p>Lansing's Project GREEN began in 1992 with a grant from the General Motors Corporation (GM). Woldumar Nature Center became the area Coordinator in 1995 and carries out the Project today with continued support from GM. GM recruited Earth Force in 1998 to coordinate GREEN throughout all GM geographic areas. </p>

<p>With severe budgeting restrictions now affecting the Lansing area school districts, enriching experiences such as GREEN that do not impose further financial burden, yet carry tremendous educational growth potential, becomes increasingly valuable. GREEN satisfies multiple benchmark requirements for teachers in Chemistry, Biology, Environmental Studies, Social Studies, and Math, enhancing curriculums in these areas. </p>

<p>Students benefit from direct training on chemical water testing techniques, discussion specific to stewardship of the Grand River watershed, and familiarization with biological life in the river. </p>

<p>Real life scientific techniques, data analysis, integration and comparison of information both geographically and through time, teamwork and problem solving skills are just a sampling of what these young people gain through their involvement in this project. Developing a sense of ownership for their community, exposure to corporate partnership, and empowerment to take informed action on issues are natural extensions of this experience. </p>

<p>How does Project GREEN work? With the combined efforts of area teachers, Mentors (trained community volunteers), GM and Woldumar Staff, students are first introduced to Watershed Stewardship and trained in chemical water testing procedures, as well as what to expect when collecting and identifying Macro-invertebrates (analyzing biological information). Next, the students visit a selected location within their local watershed to complete the 9 chemical water tests (Dissolved Oxygen, Fecal Coliform count, pH, Temperature, Biological Oxygen Demand, Nitrates, Total Phosphates, Turbidity, Total Solids) as outlined in the GREEN model (see William Stapp's "Field Manual for Water Quality Monitoring" 12th edition), and collect/study the Macro-invertebrate life at that site. Third, the students follow up by calculating both specific and overall grades for water quality, identifying any trends (good or bad). </p>

<p>To become involved in Project GREEN
please contact Woldumar at (517) 322-0030 or green@woldumar.org <!--Should be a n mailto or equivilant to green@woldumar.org --></p>