<h1>Registration Information</h1>

<h2>Steps to Register</h2>

<p>Complete and sign all areas of the registration and health form. Use a separate form for each camper you are registering.</p>

<p><b>Online:</b> Register Now! (Click to register and pay through a secure site)</p> <!--Link to online registration-->

<p><b>Deliver:</b>	Visitors Center Office, 5739 Old Lansing Road; Hours: Tuesday - Saturday, 10 a.m. - 5 p.m. Sunday, Noon - 4 p.m.</p>

<p><b>Fax:</b> (517) 322-9394 Attn: Registrar; Faxed registrations must include Visa or MasterCard number </p>

<p><b>Mail:</b>	Attn: Registrar Woldumar Nature Center 5739 Old Lansing Rd. Lansing, MI 48917 </p>

<p>Registration must be submitted with a $30 non-refundable deposit for each week of camp. Balance must be paid in full 7 days before the camp session. Full payment must be included if registering less than 7 days before the camp session.</p>

<h3>Download the 2011 Registration and Health Form</h3>

<h2>All Camp Photos</h2>

<p>Weekly session photos are offered to all campers and families. These 8 x 10 all-camp photos are $5 apiece. Please indicate the quantity and session(s) on the registration form.</p>

<h2>Extended Care</h2>

<p>"Before Care" begins at 7 a.m. "After Care" campers must be picked up by 6 p.m. The fee for Extended Care is $15 for Before OR After Care and $30 for both Before AND After Care, for each session. We offer a grace period of one half hour before or after the camp day for campers to be dropped off or picked up.</p>

<h1>Discounts</h1>

<h2>Early Registration</h2>

<p>Enroll your camper in one or more summer camp sessions and receive $10 off each session when registration is received on or before May 15! Discount will not apply to any additional sessions added after May 15.</p>

<h2>Membership</h2>

<p>Become a member of Woldumar Nature Center to receive the best rate as well as many other benefits throughout the year! Just fill out the membership portion of the registration form and add the membership fee to receive the member camp rate! With membership your family will receive free use of Woldumar’s trails, reduced rates on programs, subscription to the “Woods Water Wonder” newsletter, discounts on WolduMarket Gift Shop purchases, and much more!</p>

<h2>Free Family Fun</h2>

<p>If your camper joins us for 4 or more sessions this summer you will receive one FREE American Heritage Festival day pass for each member of your household. The American Heritage Festival will be held on September 24 & 25, 2011. </p>

<h1>Refund/Cancellation Policy</h1>

<p>If you cancel more than 7 days prior to a camp's start date, you will be refunded 100% of the camp program fee, minus a $30 non-refundable processing fee. The $30 processing fee may be applied to any future session during the 2010 summer camp season. If you cancel less than one week prior to the camp's start date, you will be refunded 50% of the camp program fee, the other 50% is forfeited and cannot be applied to any future sessions.</p>

<p>Summer Camp Features</p> <!--Links to the summer camp features page-->