<h1>Run-A-Munk 5K Run & Walk</h1>


<p>The third annual Run-A-Munk race is set for Saturday, November 13, 2010, beginning at 10 a.m. with the 5K runners. 10K runners and 5K Competitive Walkers start at 10:15 a.m. The children's race beginning at 11:30 a.m. will take place on the accessible trail, which is a half-mile loop. David Stierley,race director, has been working on improving the course and trails.<p> 

<p>All pre-registered entries will receive a T-shirt. We are sorry that we cannot guarantee a T-shirt with late or race day registration. Registration on the day of the race will be from 8:30 to 9:45 a.m. at Woldumar Nature Center. </p>

<p>As always, this annual fundraiser event will directly support Woldumar's mission of educating people about the natural environment.</p>

<p>For more information, please view the Run-A-Munk Application</p><!--link to RunAMunk%20Registration.pdf-->


<p>We want to thank the following sponsers for their support of Woldumar and the Run-A-Munk event:
<ul>
<li>United Parcel Service (UPS)</li></p>
