<h1>School Programs</h1>

<p>View Field Trip Information</p> <!--links to fieldtrip page-->

<p>Check out our Traveling Naturalist program</p> <!--links to the traveling naturalist prog page-->

<p>Field Trip Program Scholarship Application </p><!-- links to scholarshipapp.pdf -->

 
Click to Download the School Brochure <!-- links to school%20brochure%202010-2011.pdf, also has a small graphic of a book that is clickable --> 

<p>Woldumar Nature Center has been busy preparing and refining our school programs for your class's enjoyment in the 2010-2011 school year. We continue to offer field trip programs here at Woldumar and traveling naturalist programs at your school. </p>

<p>Though we have many opportunities for learning, we may not have a program that meets your exact needs. Possibilities for programs are limited only by your imagination. Any suggestions for additional programs are welcome. Please contact Lena, at lena@woldumar.org, with suggestions. You can also contact us by phone at (517) 322-0030. </p>  <!--email mailto: lena@woldumar.org-->

<h2>General School Program Information</h2>

<h3>Registration:</h3>
<p>Call Woldumar Nature Center at (517) 322-0030 or fill out page 11 of the school brochure. Registrations are taken on a first come, first served basis and require a minimum one month notice. Programs fill quickly so register in advance and have alternate dates in mind. A confirmation letter with program-related activities will be sent after the reservation is made. </p> <!--Check to see if this can be registerd online-->

<p>When calling, please be ready to provide the following information:<p>
<ul>
<li>School/organization Name, Address and Phone Number</li>
<li>Contact Person for Confirmation Materials</li>
<li>Other teachers/instructors names</li>
<li>Program Choice</li>
<li>Choice of Dates and Times</li>
<li>Grade Level and Number of Students</li>
<li>Lunch/Gift Shop Arrangements</li>
<li>Special Needs or Requests</li>
<li>Current membership status or desire to become a Woldumar member</li>
</ul>
<h3>Field trip costs:</h3>
<ul>
<li>Pre-K and Kindergarten field trips are one hour long and cost $4.00 per student. ($3.50 per student if 2 or more classes will be attending the same program at the same time.) Minimum of $75 per class.</li>
<li>1st grade through 8th grade field trips are two hours long and cost $5.00 per student. ($4.50 per student if 2 or more classes will be attending the same program at the same time.) Minimum of $120 per class.</li>
<li>Full day option - offers up to five and a half hours of instruction and costs $10.00 per student. ($8.50 if 2 or more classes will be attending the same program at the same time.) Minimum of $225 per class.</li>
<li>Teachers who are members will receive $1 discount per student in their class.</li>
<li><b>Note:</b>Traveling Naturalist costs:does not include mileage rate of $0.75 per mile over ten miles round trip.</li>
<li>One hour program costs $4.25 per student ($3.25 for teachers who are Woldumar members). Minimum fee of $85 per class.</li>
<li>Two hour program costs $6.25 per student ($4.75 for teachers who are Woldumar members). Minimum fee of $120 per class.</li>
</ul>
<h3>Payment:</h3>
<ul>
<li>Payment is due 14 days before the day of your scheduled program and can be made by check or credit card.</li>
<li>In the event that more people are present on the day of the program than you initially registered, you are responsible for payment for those individuals.</li>
<li>There is a $30 fee for all returned checks.</li>


<h3>Cancellations:</h3>
<p>For a full refund, notice of cancellation must be made 7 or more days before the scheduled program. Cancellations made with less than 7 days notice will receive a 50% refund. If Woldumar initiates the cancellation of a program, we will refund 100% of the program fees you paid to Woldumar. </p>

<p>In the event of inclement weather as determined by the Woldumar Naturalists, programs will be modified or alternative activities will be provided as inside as space allows. This may result in a shortened program. If thunderstorms arise during an outdoor activity, the program will be immediately moved indoors for participant safety. The program may then need to be shortened. </p>

<h3>Chaperones:</h3>
<p>Woldumar permits up to 6 adult chaperones plus 1 classroom teacher or instructor per class - a total of 7 adults per class. For one-hour pre-school and kindergarden programs, Woldumar permits a maximum of 9 adults including teachers and classroom aides. You are responsible for admission fees for any additional people that exceed the permitted number. This includes adults as well as additional children who are not on your class roster.</p>

<p>Chaperone guidelines are included in the confirmation packet sent when you register. We strongly recommend that you brief your chaperones according to our guidelines to help them provide an optimum learning environment for your students. Teachers and chaperones are responsible for student behavior. </p>

<h3>Our Staff:</h3>
<p>Woldumar utilizes a professional staff, college students and volunteers with credentials in natural science and environmental education. All staff receive thorough training at Woldumar. </p<

<h3>Lunch:</h3>
<p>Space is always available for sack lunches on the grounds. Limited picnic table space is also available.</p> 

<h3>Gift Shop:</h3>
<p>Help keep program fees low by supporting the WolduMarket Gift Shop! The gift shop is open 10:00 a.m. to 5:00 p.m., Monday through Saturday. Find items that compliment the Woldumar mission and programs in a broad budgetary range. If your group would like to shop, please inform us in advance to allow time in your program. </p>

<h2>School Programs</h2>

<p>What does the information in the box mean? </p>
<!--on the current program page this next section is in a whitebox - not sure why or what in the world we want to do with this stuff--> 
<p><b>Grade:</b> Our programs are designed to meet the educational needs of the grades listed. </p>

<p><b>When:</b> Due to ever changing Michigan weather, some programs are only offered during certain months. </p>

<p><b>Length:</b> (in hours) Some of our programs vary in length. Within the range listed, choose the length that best suits your group.</p> 

<p><b>Maximum Students:</b> Our wish is to make your class as comfortable as possible. Because of space and equipment limitations, a maximum number of students per class is listed for each program. Please keep these limits in mind when scheduling your program. </p>

<p><b>State Correlations:</b> We have listed the state standards each program addresses. Keep in mind that our programs are meant to supplement, not replace, your classroom work. </p>

