<h1>Girl and Boy Scout Program</h1>

<p>A Naturalist-led, two-hour Field Trip Program at Woldumar is $4.00 ($3.00 Woldumar Members) per scout with a minimum of $50.00 per group. A one-hour Traveling Naturalist presentation is $3.75 ($3.00 Woldumar Members) per scout with a minimum of $50.00 per group plus a $.68 per mile (over 10 miles round trip) mileage fee. Add an additional hour to any of our programs for $25. All fees are due on the day of the program. All programs do include time outdoors, so be sure to dress for the weather!</p>

<p>To register for a program call the Woldumar office at (517) 322-0030 Monday through Friday, between 10:00 a.m. and 5:00 p.m. Scout programs can generally be scheduled after school during the evening or on Saturdays. Please have your preferred dates and times, the program topic as well as the number of scouts ready when you call. </p>

<p>If you can't find what you're looking for, we'd be happy to design a program that meets your needs. Simply let us know what you're covering and we will work with you and the Girl/Boy Scout Handbooks to develop a program that helps you reach your goals. Additional fees may apply. Call for more information. </p>

<p>Remember that we can help you earn your Badges, Try-its, Arrow Points or Ranks but you'll have to contact your local Girl or Boy Scout office to purchase badges for your scouts. </p>

<h2>Opportunities for Girl Scouts at Woldumar</h2>

<h3>Lil' Daisies</h3>
<p>Woldumar is fun for scouts of all ages! Check out some of our fantastic programs designed just for your little learners! </p>

<h3>Brownie Fun!</h3>
<p>We can have tons of fun with your Brownie Girl Scout Troop and help you earn a Try-it. Many of your Try-it requirements can be met by coming for a fun filled field trip at Woldumar! </p>

<h3>Just for Juniors</h3>
<p>Woldumar is a great place for Scouts of all ages, especially Junior Girl Scouts who can explore and learn while working on their badges. Visit us to have fun, explore, and work towards the completion of badges like these:</p>
<p><i>Badges at this level are designed so that girls can independently complete portions of their badges. We will provide activities and field trips to assist in badge completion, but may not meet all six requirements for an individual badge.</i></p>
<h3>Cool Cadettes and Super Seniors</h3>
<p>Woldumar provides the perfect setting for Cadette and Senior Girl Scouts to explore all the new and exciting avenues available to these superb scouts. Whether working toward a Gold and Silver Award, a Community Service Bar, or just an Interest Project Patch, Woldumar is the place to be! We can provide opportunities to earn service hours or help you to complete the requirements for an Interest Project. </p>
<ul>
<li>Nature, Science and Health</li>
<li>Sports and Recreation</li>
<li>Art and History </li>
</ul>

<h3>Volunteer Opportunities</h3>
<p>If your troop is looking for a way to lend a helping hand, or to work towards a volunteer requirement for a badge, come out to Woldumar! We are always looking for help during our special events or with maintaining our grounds and trails. Whether your Scouts are working toward a service bar, badge, or just want to get involved, we have tons of opportunities for you and your troop! </p>

<h2>Opportunities for Cub Scouts at Woldumar</h2>

<h3>Tiger Cubs</h3>

<p><i>Achievement 1 (requirement 1G)</i></p>
<p>Making my family special - Go see it! Check out our historic Moon Log Cabin and learn about the way the Moon Family lived in the 1860's. </p>

<p><i>Achievement 5 (requirement 5G and 5D)</i></p>
<p>Let's go outdoors - Go see it! Learn all about the amazing plants and animals at Woldumar as you take a walk with one of our Naturalists and then complete 5D as we learn about leaves. </p>

<h3>Tiger Tracks<h3>

<p>Combine Electives 21 and 22, 25, 30-35 and 47 to have a fun filled day at Woldumar and earn a tiger track! We'll learn about some cool animals, especially our feathered friends. Then we'll discover how to help our animal friends to survive by helping to take care of our planet. Finally end the day with a picnic on our grounds, as you feast on snacks prepared especially by your scouts. </p>

<h3>Wolf Cubs</h3>

<p><i>Achievement</i></p>
<p>Start a collection - Although Woldumar is a Nature Preserve, with the guidance of our staff, some items such as leaves and seeds can be gathered, identified and organized into a cool collection to share! </p>

<p><i>Achievement 7</i></p>
<p>Your Living World - Learn about the sources of pollution in our community and how we can help by reducing, reusing and recycling. Then help keep Woldumar clean and beautiful while enjoying the trails on our pristine property. </p>

<p><i>Achievement 8 (requirement 8e)</p></i>
<p>Cooking and Eating - Learn the special techniques for cooking and enjoying a meal in the great outdoors. </p>

<p><i>Achievement 10 (requirement 10b)</p></i>
<p>Family Fun - Taking a walk with your den and family can be fun and informative with the help of one of our Staff Members! </p>

<p><i>The Wolf Arrow Point Trail</p></i>
<ul>
<li>Elective 1d - Learn about Native American languages and signs</li>
<li>Elective 10a - Learn about Native American lore, crafts, and games</li>
<li>Elective 13 - Learn about our feathered friends</li>
<li>Elective 15 - Discover the World of Plants</li>
<li>Elective 18 - Have an awesome Outdoor Adventure</li>
<li>Elective 19 - We have some great fishing spots if you've got the gear!</li>
</ul>
<p><i>Wolf Cub Scout World Conservation Award</p></i>
<p>We can help you to receive this award by combining Achievement 5 with elective 2, 12, or 15. </p>

<h3>Bear Cubs</h3>

<p><i>Achievement 3 (requirement d)</p></i>
<p>Why America is Special - Visit Woldumar's Historic Moon Log Cabin that was built by the Moon Family in 1862 to learn about pioneer life long ago. </p>

<p><i>Achievement 5</p></i>
<p>Sharing your World with Wildlife - Learn more about all of your favorite Michigan wildlife! We will observe them in their natural habitat, and learn how we can help by providing shelter and food. We will also find out about the professionals who work in this field and why it is so important to keep animals from becoming endangered. </p>

<p><i>Achievement 6</p></i>
<p>Taking care of your planet - Learn the three R's and why they are so important to the earth! We will also explore the possibilities for conservation and preservation in our own communities. </p>

<p><i>Achievement 10</p></i>
<p>Family Outdoor Adventure - Visit Woldumar for a fun Hike and picnic, plan a den camp out or attend any of our outdoor events. <p>

<p><i>The Bear Arrow Point Trail</p></i>
<ul>
<li>Elective 2 - Learn about the tools used to predict the weather and how to make and set up your own weather station at home!</li>
<li>Elective 12 - Get creative with the outdoors and learn how to design your own crafts with nature in mind!</li>
<li>Elective 14 (requirements a, b, c) - Help keep Woldumar looking great by helping to plant, weed and clean up our grounds.</li>
<li>Elective 15 - Explore the wetlands and prairie at Woldumar to learn about the world of conservation.</li>
<li>Elective 24 - Learn about how Native Americans lived in Michigan years ago, including how they use stories and games to teach.</li>
<p><i>Bear Cub Scout World Conservation Award </p></i>

<p>We can help you to receive this award by combining Achievement 7 with Elective 13, 15, or 19! </p>

<h3>Webelos</h3>

<p>Once your scouts have entered the wonderful world of Webelos, Woldumar can help your den to earn badges in the Outdoor Activity badge group including Forester, Geologist, and Naturalist badges! </p>

<h3>Volunteer Opportunities</h3>
<p>If your den is looking for a way to lend a helping hand, or to work towards a volunteer requirement for a badge, come out to Woldumar! We are always looking for help during our special events or with maintaining our grounds and trails. Whether your Scouts are working toward a badge, arrow points or just want to get involved, we have tons of opportunities for you and your den! </p>

<h2>Opportunities for Boy Scouts at Woldumar</h2>

<h3>Trip Preparation</h3>
<p>Woldumar is the perfect place to prepare for many of your scouting trips. Our property is a great site to practice your skills and prepare for the adventures that lie ahead. With 150 acres and almost 5 miles of trails, your troop can come out to Woldumar and prepare for several badges. <p>

<h3>Historical Education</h3>
<p>Woldumar also provides a unique experience for those who wish to learn about life long ago. Scouts can visit our historic Moon Log Cabin built in the 1860's and glimpse Michigan's pioneer past. This historic dwelling is a great place to investigate while working on these badges or awards. </p>

<h3>Field Studies</h3>
<p>Woldumar also offers opportunities for field studies. Explore our property and its diverse habitats to observe wildlife, identify plants, or detect signs of environmental damage. Venture out to our wetlands, forests and prairie for the perfect place to work on numerous badges. </p>

<h3>Service Projects</h3>
<p>Woldumar is a private, non-profit organization and keeping our 188-acre nature preserve up and running takes a lot of effort and hard work. Woldumar depends on volunteers to help accomplish many of these tasks. Some volunteers arrange to provide their services on an individual basis. There are also several events throughout the year where many volunteers combine their efforts. If your scouts need an entire project, Woldumar could use your help! Your scouts' ingenuity and effort here at Woldumar can help them earn awards and ranks in these areas. </p>

<h3>Community Program Information</h3>
<p>At Woldumar Nature Center we offer some super seasonal programs! Our community programs and events offer a wide variety of information covering topics on everything from American heritage to survival skills. Keep an eye out for these fun and fascinating programs that could provide the knowledge you need for many of your badges.</p>