<h1> Special Events at Woldumar</h1>

<p>A wide array of evening and weekend events are offered throughout the year for children, adults, and families, including the American Heritage Festival, the "Chili" Winter Evening and Sleigh Ride and the Wildflower Weekend. </p> <!--link to the various pages for each event in page -->

<h2> American Heritage Festival</h2> <!--link to American Heritage Fest page -->
<p>Visit the Moon Log Cabin to experience life in the 1860s. Watch the blacksmiths work at their forge.  Visit an authentic Civil War camp. Help press cider and saw wood.  Ride in a horsedrawn wagon or take a pontoon ride on the Grand River.  Shop the Farmers Market for Woldumar Prairie Honey and many other items like goat milk soap and caramel corn. See a cheese making demonstration, live animals, historic sawmill and steam engine display. All this and more is waiting you at the American Heritage Festival.</p>

<h2>"Chili" Winter Evening</h2><!-- link to chili winter evening page-->
<p>Ride in a one horse-drawn sleigh. Enjoy dinner including chili, hot drinks, and dessert in the Moon Log Cabin. Have treats by the bonfire and dance to music. All this and more at the "Chili" Winter Evening.</p>


<h2>Wildflower Weekend</h2><!-- link to wildflower page-->
<p>Visit the nature art show and sale. Enjoy a variety of entertainment. Go on the wildflower walk exploing trails looking for native Michigan wildflowers. Take a ride on the horse-drawn wagon. Explore the Grand River and look for signs of Spring on the pontoon boat down. Get geared up for the spring planing and support Woldumar's educational programs with the annual plant sale. </p> 


<h2>Run-A-Munk 5K Run & Walk</h2><!-- link to run-a-munk page-->
The annual race runs around and trhough Woldumar and is for 5K and 10K runners, 5K competitive walkers, and a children racers.  The annual race helps directly support Woldumar's mission of educating people about the natural environment.</p>

<h2>Theater</h2><!-- link to theater page, talk to kevin or Lori about additional text about the theater -->


<p>If you would like more information about these upcoming events, please call Woldumar at 517-322-0030.</p>