<h1>Spring Break Camp</h1>

<p>Children ages 4-12 have the opportunity to get outdoors and try new things at Woldumar’s Spring Break Camp 2011. Join us for one day or all week as we investigate the changing plants and animal habits! </p> <!--need to include a register now link here. They have a big red star thing...-->

<h3>Monday, April 4 - Time Travelers</h3>
<p>Hikes highlighting useful plants and animals, a visit to the 1860s Moon Log Cabin, and pioneer games & toys will help campers discover how people in Michigan lived hundreds of years ago. </p>

<h3>Tuesday, April 5 - Wonderful Wetlands</h3>
<p>Campers will visit different wetland habitats in search of the small and large creatures that inhabit them. </p>

<h3>Wednesday, April 6 - Beasts with Backbones</h3>
<p>A visit with live animals in the nature center and searching trails for wild animals will help campers learn all about the vertebrate animal groups. </p>

<h3>Thursday, April 7 - Busy Birds and Bugs</h3>
<p>Campers will search the sky, forests and prairie for birds and insects, and dig in the mud in search of creatures under our feet during this study of flying friends. </p>

<h3>Friday, April 8 - Where Are We?</h3>
<p>Campers will use compasses and GPS units, and create and follow maps to find each other and hidden treasures. </p>

<p>Camp runs from 9:00 a.m. to 4:00 p.m. daily. </p>

<h2>Camp Fees: </h2>
<p>$30/day for Woldumar members; $40/day for Non-members OR 
$135/full week for Woldumar members; $170/full week for Non-members </p>

<p>Extended Care is available. Before Care starts at 7:00 a.m.; campers in After Care must be picked up by 6:00 p.m. </p>
<p>Before OR After Care: $3/day. </p>

<p>For more information contact Lena Swehla at lena@woldumar.org </p>

<p>Download the Registration and Health Form</p> <!--link to the registation and health form-->