<H1>Summer Camp</h1>

<h3>Download Brochure</h3> <!-- links to 2011%20Camp%20Brochure.pdf--> 
<h3>Register Now</h3> <!--this was a graphic on this page. links to registration--> 
<h2>Director's Note</h2>

<p>At Woldumar, campers are given the opportunity to explore and discover nature in a fun, safe, and nurturing environment. Not only do campers learn about nature and science, but also about teamwork, leadership, and communication. The experiences children have at camp and in the outdoors are experiences that will stay with them throughout life, as mine have with me. As always if you have any questions, suggestions or concerns please contact me directly at lena@woldumar.org or (517) 322-0030. I look forward to sharing this summer and all the new additions to our camp programs with your children. </p> <!--probably should include mailto link to be consistent on the email address-->

<p><i>Lena Swehla, Camp Director </i></p>

<p>Summer Camp Features</p> <!-- links to summercamp feature page-->

<p>Registration Information</p> <!--links to registration information page-->


<h2>Session Information</h2> <!--this section was originally a table 2x3-->

<h3>Camp Discovery Junior</h3>
<p>Ages: 4-6 </p>

<h3>Camp Discovery</h3>
<p>Ages: 5-12 </p>

<h3>Speciality Camps</h3>
<p>Ages: 7-10</p>

<h3>Leader-In-Training</h3>
<p>Ages: 12-14</p>

<h3>Counselor-In-Training</h3>
<p>Ages: 13-16</p>

<h3>Eco Adventure</h3>
<p>Ages: 13-16</p>