<h1>Summer Camp Features</h1>

<p>
<ul>
<li>Woldumar Nature Center is a 178-acre classroom consisting of a variety of habitats waiting to be explored.</li>

<li>All of Woldumar's summer camps are state licensed, ensuring safety and security for our campers.</li>

<li>All staff are trained in CPR, first aid and outdoor & environmental education.</li>

<li>One adult counselor will supervise no more than 10 campers of the same age group. </li>

<li>Along with the head counselor, we have Junior Counselors, Counselors-In-Training, and trained volunteers to provide campers plenty of individual attention. </li>

<li>Each counselor designs activities specifically for their group ensuring the campers will experience age-appropriate lessons related to the weekly theme.</li>


<h2>Wacky Wednesdays</h2>

<p>Get ready to mix things up on Wednesday. Each camp group will rotate through different exciting activities. This will give the campers a chance to work with and form a relationship with every counselor.</p>

<h2>Woldubucks</h2>

<p>Campers will receive one Woldubuck during each session they attend. Woldubucks are worth $1 and can be used toward purchases of items from the Woldumarket Gift Shop.</p>

<h2>Woldumarket Gift Shop</h2>

<p>As part of “Wacky Wednesday” we will be visiting the Woldumarket Gift Shop. The gift shop has minerals, nature guidebooks, bookmarks, animal toys, Woldugear and more. Campers who would like to purchase items from the gift shop should bring money to camp on Wednesday.</p>
 

<p>Registration Information </p> <!--Link to the registration information page-->