<h1>TRAC Teambuilding Ropes & Activity Course</h1>

<p>Nestled in an idyllic location within the pine forest along the woodland pond, Woldumar's TRAC is an opportunity waiting for you to experience. </p>

<p>View TRAC Brochure</p>

<h2>What is TRAC?</h2>

<p>TRAC (Teambuilding Ropes & Activity Course), originally designed for and used by General Motors manufacturing, is the ultimate solution for improving teamwork. Our highly-trained and experienced facilitators will design challenges to meet the specific goals of your group while utilizing individuals' strengths.</p> 

<h2>Why Use It?</h2>

<p>Your group will "get on TRAC" as participants solve scenario-based obstacles presented through initiatives requiring teamwork strategies. 
Through TRAC, group members are able to demonstrate to themselves and to team members the importance of planning, cooperation and communication. The group's success in completing the challenges relies not only upon each group member, but also requires creativity, tenacity, strategic planning, and shared risk taking. </p>

<p>If you would like more information about TRAC, please call Woldumar at 517-322-0030.</p>