<h1>Traveling Naturalist (TN) Programs</h1>

<p>If you can't get away to visit us, why not do the next best thing? Invite a Woldumar naturalist into your classroom, schoolyard or local park. These programs enrich your students' knowledge and appreciation of nature and enhance your curriculum. Programs are one hour long (unless otherwise indicated), are designed for one class at a time and are customized for your grade level and special needs. Most programs can include time outside. </p>

<h2>Amazing Amphibians and Remarkable Reptiles</h2>

<p><b>Grade:</br> Pre-K - 7
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science L.OL.00.19; S.IR.01.01, 02; L.EV.02.23; L.OL.03.32-35; L.OL.04.31; L.EV.04.32, 33; L.EC.04.34; L.EV.05.27, 28; L.EC.06.32 and 39 
<b>Complementary Programs:</br> Animal Homes and Niches (FT), Beasts With Backbones (FT), Mystery Mammals (TN)</p>

<p>Meet some real amphibians and reptiles up close and personal! Learn about these groups with first hand knowledge. Students will learn about adaptations and habits of these fantastic animals and older students will discuss the classification of reptiles and amphibians. </p>

<h2>Aquifer Adventures</h2>

<p><b>Grade:</br> 3-6
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science E.ES.03.36-42; L.EC.04.35; S.IR.05.13; E.ES.06.49, 50, 54 
<b>Complementary Programs:</br> Pond Pals (FT), Water Wisdom (TN) </p>

<p>Students will explore the movement of water through the ground and human impacts on water quality through a series of hands-on activities. This program allows students to then put that new knowledge to use by building their own aquifers. </p>

<h2>Let's Rock</h2>

</p><b>Grade:</br> 3, 6-8 
<b>When:</br> Year Round
<b>Length:</br> 1 or 2 hours
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science E.ST.03.49, 50; L.EV.05.25; E.ST.05.45, 46, 49
<b>Complementary Programs:</br> Let's Rock (FT), Michigan Copper Mining (TN) </p>

<p>What's the difference between a rock and a mineral? What is a fossil? Students will be able to answer these questions and more about Earth processes and Michigan geology through hands-on experiments and interesting artifacts. </p>

<h2>Marvelous Macroinvertebrates</h2>

</p><b>Grade:</br> 1-5
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science S.IP.01.12, 13, 14; L.OL.01.21; L.HE.01.11; S.IP.02.12, 13, 14; S.IP.O3.12, 13, 14; S.RS.03.18; L.OL.03.32, 42; L.EV.03.12; E.ES.03.41; S.IP.04.12, 13, 14; S.IA.04.13; S.RS.O4.15, 18; L.OL.04.16, 21, 22; L.EC.04.11, 21; S.IP.05.11, 13; S.RS.05.17; L.EV.05.11, 12
<b>Complementary Programs:</br> Pond Pals (FT), Insect Safari (FT), Got to Eat and Run (FT)</p>

<p>What makes a mammal a mammal? How do animals use their senses? How do mammals adapt to their environment? These and other mysteries will be solved as students investigate Michigan mammals through the use of study skins, artifacts and activities. </p>

<h2>Mystery Mammals</h2>

</p><b>Grade:</br> K-6
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science S.IP.00.11, 12; L.OL.00.11; S.IP.01.11, 12; L.OL.01.13, 21; L.HE.01.11; S.IP.02.11,12; S.IP.03.11,12; L.OL.03.32, 42; L.EV.03.12; S.IP.04.11, 12; L.OL.04.16; L.EV.04.21, 22; L.EC.04.11; S.IP.05.11; L.EV.05.11, 12; S.IP.06.11; L.OL.06.51; S.IP.07.11. 
<b>Complementary Programs:</br> Beasts with Backbones (FT), Animal Homes and Niches (FT), Got to Eat and Run (FT), Wild and Rare (TN)</p>

<p>What makes a mammal a mammal? How do animals use their senses? How do mammals adapt to their environment? These and other mysteries will be solved as students investigate Michigan mammals through the use of study skins, artifacts and activities. </p>

<h2>Portable Ponds</h2>

</p><b>Grade:</br> 1-3, 7
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science S.IP.01.12, 13, 14; L.OL.01.21; L.HE.01.11; E.SE.01.12; S.IP.02.12, 13, 14; E.FE.02.11, 13; S.IP.03.12, 13, 14; S.RS.03.18; L.OL.03.32, 42; L.EV.03.12; E.ES.03.41; E.ES.03.51, S.IP.07.11, S.1P.07.13, S.RS.07.71, E.ES.07.42, E.ES.07.81, E. S.07.82
<b>Complementary Programs:</br> Pond Pals (FT), Animal Homes and Niches (FT)</p>

<p>Students will use investigative tools to learn firsthand about the water cycle, pond ecology and aquatic life cycles. Two hour programs can include an on-site pond study at your school. </p>

<h2>The 3 R's of Recycling</h2>

</p><b>Grade:</br> 2 - 7
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30 
<b>State Correlations:</br> Science S.IR.02.13; S.IR.03.16; E.ES.03.36-42; S.IR.04.16; S.IR.05.13; S.IR.06.14; E.ES.06.52-55; S.IR.07.17 
<b>Complementary Programs:</br> Web of Life (FT), Groundwater Adventures (FT)</p>

<p>Explore the impact of human trash practices on our environment and the vital need to reduce, reuse and recycle. Students participate in various recycling demonstrations and activities to learn the basics of natural resources, solid waste, energy use and important methods of reducing solid waste.</p>

<h2>Wild and Rare</h2>

</p><b>Grade:</br> 3-6
<b>When:</br> Year Round
<b>Length:</br> 1 hour
<b>Maximum Students:</br> 30
<b>State Correlations:</br> Science E.ES.36-39, 42; L.EC.04.35; L.EV.05.25, 27; L.EC.06.38 and 39
<b>Complementary Programs:</br> Web of Life (FT), Pond Pals (FT), Beasts with Backbones (FT), Powered by Plants (FT) </p>

<p>Going, going gone? Many plants and animals in Michigan are in danger of extinction. Issues and factors contributing to their demise are presented through fun, informative activities that focus on diversity and environmental change and ways students can help. </p>

<p>You may also want to check out the Project GREEN program</p>

<p>or Take a Field Trip to Woldumar</p>