<h1>Wildflower Weekend</h1>

<h2>Call for Artists and Entertainers!!</h2>

<p>We are accepting applications for artists, entertainers, and educators who would like to be a part of this great event.
Contact Jessica at (517) 322-0030 or click here to email Jessica</p> <!--Email link to jessica@woldumar.org" -->

<h3>Dates and Times</h3>

<p>Saturday, May 14th, 10 a.m to 5 p.m. </p>
<p>Sunday, May 15th, 12 noon to 4 p.m.</p>
<p>Trails open dawn to dusk </p>

<h2>Admission Includes</h2>

<h3>Nature Art Show & Sale</h3>

<p>View local artists' work with the opportunity to purchase their visual interpretations of nature's beauty. </p>

<h3>Entertainment</h3>

<p>Various entertainers are scheduled for your listening enjoyment.</p> 

<h3>Wildflower Walk</h3>

<p>Explore the trails looking for native Michigan wildflowers. (Naturalist-led tours on Saturday, self-guided on Sunday) <p>

<h2>Other Activities</h2>

<h3>Horse-Drawn Wagon Rides</h3>

<p>Take a trip on the trails. <p>

<h3>Pontoon Boat Rides</h3>

<p>Explore the Grand River and look for signs of Spring coming back to mid-Michigan.</p> 

<h3>Plant Sale</h3>

<p>Get geared up for your spring planting and support Woldumar's educational programs. Plants provided by Wild Type and Gee Farms. </p>
<ul>
<li>Native Plant Order Form </li>  <!--link to order form check to see if PDP-->
<li>Native Plant Guide </li> <!-- link to plant guide Plant%20catalog%202011.pdf -->
</ul>

<h3>Used Book Sale</h3>
<p>Find a bargain at the used nature book sale. </p>


<p>Some activities have an additional charge. All activities are subject to change. Outdoor activities may be rescheduled, shortened or cancelled due to weather conditions. </p>

<h3>Get Driving Directions from</h3>
<form action="http://www.mapquest.com/directions/main.adp" method="get" target=_new><input type="hidden" name="go" value="1"> <input type="hidden" name="2a" value="5739 Old Lansing Road"> <input type="hidden" name="2c" value="Lansing"> <input type="hidden" name="2s" value="MI"> <input type="hidden" name="2z" value="48917-8503"> <input type="hidden" name="2y" value="US"><input type="hidden" name="1y" value="US"><table border="0" cellpadding="0" cellspacing="4"><tr><td>Address:<br><input type="text" name="1a" size="15" maxlength="30" value=""></td><td>City:<br><input type="text" name="1c" size="10" maxlength="30" value=""></td><td>State:<br><input type="text" name="1s" size="3" maxlength="2" value=""></td><td>ZIP Code:<br><input type="text" name="1z" size="8" maxlength="10" value=""></td><td width=10></td><td valign=bottom><input type="submit" name="dir" value="Get Directions" border="0"><input type="hidden" name="CID" value="lfddwid"></td></tr></table></form>
to <b>Woldumar Nature Center</b> 5739 Old Lansing Road, Lansing, MI</td>

