<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Admin?</th>
			<th>Member?</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.full_name %></td>
				<td><%= user.is_admin? %></td>
				<td><%= user.is_member? %></td>
				<td><%= link_to "Edit", url_for(:action => :edit_user, :id => user.id), :id => "edit#{user.id}" %><td>
			</tr>
		<% end %>
	</tbody>
</table>