/* home.scss
*/

$radius: 2ex;

#slider-container, #slider-bar {
  width: 900px;
  margin: 0 auto;
}

#slider-container {
	height: 288px;
	background-color: #50420E;
}

#slider-bar {
	background-image: url(../images/brown_bar.png);
	background-repeat: no-repeat;
	height: 104px;
	width: 900px;
}

.right_side {
	    float: right;
	    width: 145 px;
	    height: 97px;
	    padding-top: 20px;
	    padding-left: -10px;
}

.photo{
	width: 88;
	height: 58;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.sec1 {
	float: left;
	height: 103px;
	width: 270px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.dot {
	height: 10px;
	width: 13px;
	background-image: url(../images/dot.png);
	background-repeat: no-repeat;
	padding: 0px;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 9px;
	float: left;
}

.read_more {
	width: 80px;
	float: left;
	margin-right: 45px;
	margin-top: 7px;
	margin-bottom: 0px;
	color: #C67700;
	font-size: 12px;
	font-family: arial;
}

.sec_title1{
	font-family: times new roman;
	color: #E0BD70;
	font-size: 22px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	padding-left: 5px;
}

#col-container {
  margin: 1em 0;
  overflow: auto;
}

#left-col {
	float: left;
	width: 70%;
	div#line_one{ align:left; font-size: 25px; font-family: "trebuchetms", arial, helvetica; font-weight: bold; color: #839500 }
	div#line_two{align:left; font-size: 22px; font-family: "trebuchetms", arial, helvetica; font-weight: bold; margin-left: .5em; margin-bottom: .5em; color: #50420E; }
	p{ font-size: 14px; font-family:  arial, helvetica; color: #50420E;}
	div#sizing{width: 570px;}

}

#left-directions-col {
	float: left;
	width: 60%;
    padding-right:20px;
}

#right-col {
  float: left;
	width: 28%;
}

#right-directions-col {
    float: left;
	width: 30%;
}

.box {
  float: right;
  clear: both;
  width: 90%;
  margin-bottom: 1em;
  padding: 1.75em;
  border: 1px #cccccc solid;
  background-color: white;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  h3 { font-family: "trebuchetms", arial, helvetica; margin-bottom: .5em; font-size: large; font-weight: bold; color: #50420E;}
  hr { color: #BEV28A }
  div#space {font-family: arial, helvetica; margin: .5em 0 0 0; color: #50420E;}
  div#bold {font-weight: bold; margin: 0 0 .25em 0; }
  a{color: #BB7171;}
}
