ul.site_nav
{	margin: 0;
	padding: 0}

	ul.site_nav li {
    float: left;
		list-style: none;
		font: 12px;
    display: block;
  }

	ul.site_nav li a
	{	display: block;
		background: #20548E;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 70px;
		color: #EAFFED;
		white-space: nowrap}

	ul.site_nav li a:hover
	{	background: #1A4473}

		ul.site_nav li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white}

		ul.site_nav li ul li
		{	float: none;
			display: inline}

		ul.site_nav li ul li a
		{	width: auto;
			background: #9F1B1B}

		ul.site_nav li ul li a:hover
		{	background: #7F1616}

