/* layout.scss
*/

$block-width: 904px;
$main-margin: 38px;

body {
  background-color: #d6cebe;
	background-attachment: scroll;
	background-image: url(../images/bg.gif);
  background-repeat: repeat-x;
	background-position: left bottom;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
	width: 980px;
	background-color: #fff8e5;
}

#top_nav {
	width: 904px;
  margin: 0 auto;
  padding: 0;
	height: 51px;
	background-image: url(../images/top_bar.png);
	background-repeat: no-repeat;
}

#top_section {
  width: $block-width;
  overflow: auto;
  margin: 1em auto;
}

#logo, #contact {
  float: left;
  width: $block-width / 2 - 10px;
}

#contact {
  padding-top: 1.5em;
  h3, p { font-size: 14px; display: table; margin: 0 auto; font-family: "trebuchetms", arial, helvetica; color: #50420E  }
  h3 { letter-spacing: 2px; font-size: 25px; font-family: "trebuchetms", arial, helvetica; font-weight: bold; margin-bottom: .5em; color: #839500 }
  p { padding: 0; }
}

#content {
  padding: 0 $main-margin;
}

#bottom_divider {
  display: table;
  margin: 0 auto;
  width: $block-width;
  height: 5px;
  background: #603A18;
}

#footer_text {
  text-align: center;
  font-family: arial, helvetica;
  color: #50420E;
  font-size: 14px;
}

#footer_block {
	width: $block-width;
  margin: 0 auto;
	background-color: #729a13;
	height: 30px;
}
