/* typography.scss
*/

body { font-family: Georgia, Times, "Times New Roman", serif; }
h1 { font-size: xx-large; font-weight: bold; text-align: center; font-family: "Trebuchet MS", sans-serif; }
h2 { font-size: large; font-weight: bold; font-family: "Trebuchet MS", sans-serif; }
p { margin: .5em 0; font-size: large; }
ul {
  list-style-type: circle;
  padding-top: 1em;
  li { padding-left: 1em; padding-bottom: 1em; }
}

legend { font-size: large; font-family: Georgia, Times, "Times New Roman", serif; font-weight: bold; margin-bottom: 1em; display: block; padding-bottom: 1em; }
div.field { clear: both; }
label { width: 150px; float: left; }

p.note { margin: 1em; font-style: italic; }

div.index {
  h1 { padding-bottom: 1em; }
  table {
    margin: 0 auto;
    margin-bottom: 1em;
    tr#headers { border-bottom: 1px black solid; }
    th, td { border-right: 1px black solid; padding: .5em; }
    th:last-child, td:last-child { border-right: none; }
  }
}

div.show {
  h2, h3 { font-weight: bold; text-align: center; }
  h2 { font-size: x-large; }
  h3 { font-size: large; padding-bottom: 1em; }
  table { margin: .5em auto; font-size: large; }
}
