<H1>The Butterfly Garden</H1>

<p>Woldumar welcomes butterflies with a special garden designed to offer plants for every stage of the butterfly's life. </p>

<>Located at the entrance to the office, the garden contains butterfly bush, butterfly weed, beebalm, purple and yellow coneflowers, and other plants that attract these winged beauties. The garden contains host plants that provide the adult butteflies a place to lay their eggs and a source of food for the catepillars when they hatch. Nectar plants provide food for the adult butterflies. Tall plants offer shelter from wind. Because butterflies and bees are attracted to sources of nectar by scent, old fashioned flowers that have a heavy, sweet scent are perfect for their special garden. Honeysuckle, jasmine, lilacs, and narcissus, are some of the flowers with heavy, sweet scents are fertilized by butterflies and moths.</p>

<p>In addition to plants, butterflies need a sunning spot for times when the weather is cool and a place to puddle. Butterflies will have drinking parties in a puddle made of wet sand, dirt, or mulch where they can ingest water and minerals. To make butterflies happiest, the garden should be located where there is sun at least 6 hours a day, and it should be a little weedy. Butterflies will not visit a garden where pesticides have been used.</p> 

<p>Come visit the butterfly garden when you are at Woldumar. </p>