<h1>Employment</h1>

<h2>Camp Counselor</h2>


<p><b>Position Overview:</b></p>
<p>Under the direct supervision of the Camp Director, the Camp Counselor works in conjunction with other counselors in the development and implementation of lesson plans in environmental and outdoor education. This position provides guidance and instruction to 4-12 year old boys and girls attending weekly nature-based day camp sessions at Woldumar Nature Center's 'Camp Discovery'. Camp counselors must possess a strong dedication to the natural world, and to the education, personal development and care of young people. Camp Counselors must be at least 18 years old. Paid a stipend based on experience, with minimum of 40 hours per week. </p>


<h2>Junior Camp Counselor</h2>
<p><b>Position Overview:</b></p>
<p>Under the direct supervision of Camp Counselors, the Junior Counselor assists Camp Counselors in the development and implementation of all camp programs for Woldumar Nature Center. This position provides guidance and instruction to 4-12 year old boys and girls attending weekly day camp sessions at Woldumar Nature Center's 'Camp Discovery'. Junior Camp Counselors must be at least 16 years old. Paid a stipend based on experience, with minimum of 25 hours per week. </p>


<h2>Eco Adventure Camp Counselor</h2>
<p><b>Position Overview:</b></p>
<p>Eco Adventure and Eco Trips are programs designed to provide an intense outdoor experience for teenagers. Each Adventure session emphasizes backcountry survival and camping skills, with a Thursday overnight to test those skills. Teambuilding and personal growth will be highlighted, and each session will focus on a different earth-friendly, high-adventure outdoor skill set. Eco Trips take teenagers on a three-day/two-night, off site adventure. 
Position overview: Under the direct supervision of the Eco Adventure Camp Director, the Camp Counselor works in conjunction with other counselors in the development and implementation of lesson plans in environmental and outdoor education. This position provides guidance and instruction to 13-16 year old boys and girls attending weekly nature-based day camp sessions at Woldumar Nature Center's ‘Eco Adventure Camp’. Camp counselors must possess a strong dedication to the natural world, and to the education, personal development and care of young people. Camp Counselors must be at least 20 years old. </p>


<p>If you are interested please send an application or resume to: </p>
<p>Woldumar Nature Center </p>
<p>Attn: Camp Director</p>
<p>5739 Old Lansing Rd</p>
<p>Lansing, MI 48917</p>
<p>Or Email Lena Swehla, Education Coordinator & Camp Director, at lena@woldumar.org </p>  <!--hook up the email address-->


<h3>Download Employment Application Form</h3>  <!--link to employment form, employee%20application.pdf--> 