<h1>Moon Log Cabin Herb Garden</h1>

<p>Adjacent to the Moon Log Cabin, the Herb Garden features herbs that might have been used by the Moon family in 1860. </p>

<p>The garden is planted with herbs that the Moon family could have used to season their foods, dye their cloth, and treat minor illnesses and injuries. Many of the plants, such as sage, lemon balm and thyme, will be familiar herbs to visitors. The herbs comfrey, lovage, and wormwood are less well known. Some plants once considered herbs like calendula, lavender, and roses are now better known as ornamentals. 
<p>As the seasons change from spring to fall, different herbs take center stage. Spring is beautiful in the garden with the blue blossoms of the comfrey. After that, the chives show off their pick blooms. Late summer and fall feature more of the orange and yellow colors with the calendula flowers. There is always something for the bees and other visitors to enjoy. </p>


<p>Many of the plants are labeled, and the Plant Guide provides information about the cultivation, harvesting, and the historical uses of each plant.<p> <p>Tours of the garden are available anytime there is a volunteer working in the garden. They can also be scheduled by calling the Woldumar office at 517-322-0030. </p>

<p>Download the Plant Guide<p><!--Link to the plant guide pdf-->