<h1>Woldumar is Nature Preserved</h1>

<p>Woldumar's 150 acres provide many natural environments. The prairie with its wildflowers, the Grand River flowing along 1.25 miles of riverbank, the hardwood forest containing beech and maple trees, the old apple orchard where deer come for dessert offer a variety of habitats for native plants and animals. </p>

<p>Visitors to Woldumar can experience all these areas using the 5 miles of natural trails that are open to the public daily dawn to dusk. Woldumar also provides more than 1 mile of trail that is accessible. The trails are open dawn to dusk, 365 days a year. Trail Maps are available at the Center and the trail head. Click here to download a trail map.</p> <!--Link to trailmap.pdf-->

<p>The grounds contain designed areas including a Butterfly Garden <!--Link to butterfly garden page-->, Xeric Garden <!--Link to Xeric Garden-->, and Herb Garden<!--Link to Herb Garden-->. Another garden is used as a nursery area where young trees are protected until they are large enough to be moved to their permanent homes on the grounds. Some of the trees planted at Woldumar are donated as living memorials to loved ones. </p>

<h2>Learn more about:</2>
<ul>
<li>Our new handicapped accessible trail</li>
<li>How we maintain the prairie with yearly burning</li>
<li>The memorial trees project</li>
<li>The Butterfly Garden</li> <!--Link to butterfly garden-->
<li>The Xeric Garden</li> <!--Link to Xeric garden-->
<li>The Herb Garden</li> <!--Link to herb garden-->
<li>Volunteer opportunities</li> <!--Link to volunteer pdf VolunteerBrochure.pdf-->
</ul>