<h1>Staff and Board of Directors</h1>

<p>Woldumar's friendly, helpful staff and board members are available to answer any of the questions you may have about Woldumar. Contact us </p> <!--Link to contact form-->

<h2>Woldumar Staff</h2> 
<!--images set up in 2 x 2 grid, with not pictured under image of lena-->

 <!--Insert image of Lori-->

<p><b>Lori McSweeney</b></p>
<p>lori@woldumar.org</p>
<p>Executive Director</p>		 

 <!--Insert image of Lena-->
<p><b>Lena Swehla<:b></p>
<p>lena@woldumar.org</p>
<p>Education Coordinator & Camp Director</p>

 <!--Insert image of Jerry--> 

<p><b>Jerry Moran</b> </p>
<p>jerry@woldumar.org</p>
<p>Wildlife Stewardship Specialist</p>
<p>Tech Support	</p>


<h3>Not Pictured</h3>

<p><b>Kevin Wernet</b></p>
<p>Educator, TRAC Coordinator, Rentals</p>

<p><b>Jessica Rogner</b></p>
<p>Educator, Promotions</p>

<p><b>Stephany Guild<b></p>
<p>Educator</p>

<p><b>Miguel Sanchez</b></p>
<p>Educator</p>

<p><b>Forrest Nussdorfer</b></p>
<p>Educator</p>

<p><b>Kevin Feldpausch</b></p>
<p>Facilities Manager</p>

<p><b>Essie Solano</b></p>
<p>Volunteer Coordinator</p>


<h2>Board of Directors</h2> <!--set in a 4-column grid-->

<p><b>Tony Bauer</b></p>
<p>Chairperson</p>
<p>Landscape Architect</p>
<p>Retired: MSU Assoc. Prof.	</p>

<p><b>Tim Frisosky</b></p>
<p>Vice Chair</p>
<p>Gemmologist</p>
<p>24KT Diamond </p>
<p>Boutique</p>

<p><b>Stephen Kutas</b></p>
<p>Treaurer</p>
<p>CPA, Kutas & Associates, PC		</p>

<p><b>Susan Jones</b></p>
<p>Co-Secretary</p>
<p>Wetlant Specialist</p>

<p><b>Bruce Peffers</b></p>
<p>Co-Secretary Researcher</p>
<p>Dart Container Corp.</p>

<p><b>Andria Ditschman</b></p>
<p>Member at Large</p>
<p>Attorney</p>
<p>Hubbard Law Firm</p>

<p><b>Cathy Cole</b></p>
<p>Teacher, Post Oak Elementary</p>

<p><b>Debi Cole</b></p>
<p>Retired: Elementary School Teacher</p>

<p><b>Sylvia Colles</b></p>
<p>Retired: Mich. Dept of Education </p>

<p><b>Michelle Crook</b></p>
<p>Engineer, Mich Dept of Agric.</p>

<p><b>Doug Finley</b></p>
<p>Retired: Mich. Dept of Natural Resources Education Chair		</p>

<p><b>Jeff Friedle</b></p>
<p>Wetland Engineer LSGEngineers & Surveyors</p>

<p><b>Joel Hoffman</b></p>
<p>Mich. Dept. Tehcnology, Management & Budget Manager of Safety		</p>

<p><b>Frank Tegge</b></p>
<p>Sr. Vice Pres., Investments Wells Fargo Advisors		</p>

<p><b>Josh Tudor</b></p>
<p>Vice Pres, JP Morgan Chase & Co.		</p>

<p><b>Karl Hausler</b></p>
<p>Director Emeritus</p>
<p>Mich. Dept. of Agric.</p>
<p>Environmental Stewardship</p>

<p><b>Richard Wright</b></p>
<p>Director Emeritus</p>
<p>Retired: Engineer, State of Mich.				</p>

<h2>Endowment Trustees</h2> <!--3 columns-->

<p><b>Dick Beers</b></p>		<p><b>Steve Cessna</b></p>		<p><b>JB McCombs</b></p>