<h1>The Xeric Garden</h1>
<p>A dry landscape can be beautiful </p>

<p>Woldumar's Xeric garden is an example of how drought-tolerant plants can be used to make an attractive garden. The garden on the south side of the office building contains plants that thrive even though they are not watered by anything but the rain. </p>

<p>The term xeriscape comes from "xeros" the Greek word for dry. Combined with scape which literally means a picture or a view of a type of scene, we have the term for a dry landscape. </p>