<h1>Directions and Map</h1>

<p>From I-496 West</p>

<p>Take Lansing Road Exit 4 to Waverly Road. Turn left on Waverly. Turn right on Old Lansing Road and continue southwest for two miles. Woldumar is on the left, or south side, of the road. </p>

<p>From I-96</p>

<p>Take Lansing Road North Exit 98B. Proceed through Creyts Road traffic light and bear right at the fork. Woldumar is one-half mile from the light, on the right, or south side, of the road. <p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5739+Old+Lansing+Rd+%C2%B7+Lansing,+MI&amp;aq=&amp;sll=42.692656,-84.632492&amp;sspn=0.032363,0.068665&amp;ie=UTF8&amp;hq=&amp;hnear=5739+Old+Lansing+Rd,+Lansing,+Michigan+48917&amp;ll=42.691913,-84.632514&amp;spn=0.008485,0.017166&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5739+Old+Lansing+Rd+%C2%B7+Lansing,+MI&amp;aq=&amp;sll=42.692656,-84.632492&amp;sspn=0.032363,0.068665&amp;ie=UTF8&amp;hq=&amp;hnear=5739+Old+Lansing+Rd,+Lansing,+Michigan+48917&amp;ll=42.691913,-84.632514&amp;spn=0.008485,0.017166&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>


<p>Get Driving Directions from<p>  <!--Mapquest Map input-->

<script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=5739%20Old%20Lansing%20Rd%2C%20Lansing%20MI%2048917&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=320&amp;h=55&amp;title=Directions+to+Woldumar+Nature+Center&amp;brand=light&amp;lang=en&amp;country=US&amp;border=%23ffffff%7C0px%2C1px+solid+%2399BB66%7C0px%2C2px+solid+%23AACC66%7C0px%2C2px+solid+%23BBDD66&amp;output=js"></script>

