<h1>Hours of Operation</h1>

<h2>Visitors Center</h2>

<p><b>Gift Shop, Educational Displays and Restrooms</b></p>

<p> Open Tuesday - Saturday 10:00am to 5:00pm </p>
<p>Sunday 12:00 noon to 4:00pm </p>
<p><i>The Visitors Center is closed on all major Holidays (New Year's Day, Easter weekend, Memorial Day weekend, Labor Day weekend, Thanksgiving Day, Christmas Day)</i></p>

<h2>Administrative Offices</h2>
<p>Open Monday - Friday 9:00am to 5:00pm</p>

<h2>RE Olds Anderson Rotary Barn </h2>

<p>The Rotary Barn is available for rental opportunities. Call 517-322-0030 for more information. </p>

<h2>Trails</h2>

<p>Open dawn to dusk, 365 days a year. Trail Maps are available at the Center and at the Trail Head. Donations are appreciated. </p>

<p>Click Here to Download Trail Map</p> <!-- Trail Map PDF trailmap.pdf-->