<h1>Woldumar Nature Center Site Map<h1>

<h2>Home</h2>

<h2> About Us <h2>
<ul>
<li> History </li>
<li> Nature Areas </li>
	<ul>
		<li>Butterfly Garden</li>
		<li>Herb Garden</li>
		<li>Xeric Garden</li> 
<li>News </li>
<li>Staff and Board </li>
<li>Employment</li>

<h2>Activities</h2>
<ul>
<li>Programs</li>
	<ul>
		<li>School Programs</li> <!--Link to programs -->
		<li>Field Trips</li>
		<li>Traveling naturalist</li>
		<li>Scout Programs</li> <!--link to scout program page-->
		<li>Birthday Parties</li><!--link to birthday party-->
		<li>Community Programs</li>
		<li>Building Rentals</li>  <!-- Links to the Building Rental page -->
		<li>Project GREEN</li>
	</ul>
<li>Camps</li>
	<ul>
		<li>Summer Camps</li><!--link to summer camp main page-->
		<li>Spring Break Camps</li><!--link to spring break camp-->
			<ul>
				<li>Summer Camp Features</li>
				<li>Registration</li>
			</ul>	
	</ul>
<li>Special Events</li> <!--link to special events page-->
	<ul>
		<li>American Heritage Festival</li>
		<li>"Chili" Winter Evening</li>
		<li>Wildflower Weekend</li>
		<li>Run-A-Munk 5K Run and Walk</li>
		<li>Theater</li>
	</ul>
<li>TRAC Team Building</li>
<li>Upcoming Events</li>	
</ul>

<h2>Services</h2>
<ul>
	<li>Bird Seed Order</li>
	<li>Native Plant Orders </li>
	<li>Honey Orders</li>
	<li>Rental info</li>
</ul>

<h2>Get Involved</h2>
<ul>
	<li>Donations</li>
	<li>Membership</li>
	<li>Volunteering</li>
	<li>Wish List</li>
</ul>

<h2>Contact us</h2>
<ul>
	<li>Hours of Operations</li>
	<li>Directions and Map</li>
	<li>Sitemap</li>
</ul>	