<h1>History of Woldumar Nature Center</h1>

<img src="http://www.woldumar.org/images/barn.jpg" alt="White barn" style="float: right" />
<p>In the mid-1960s a group was formed to develop a conservation education program for young people. Woldumar Nature Association (Woldumar's parent organization) is the result. Mrs. Gladys Olds Anderson (daughter of automotive pioneer Ransom Eli Olds) generously donated half of her dairy farm to the association. The equipment storage barn soon became classroom space and administrative offices. In the early 1980s the Moon Log Cabin was donated and moved to Woldumar for our cultural heritage program.</p>

<p>Today we operate Camp Discovery which serves approximately 600 children, ages 4-16 each summer. In addition, our school and community outreach programs reach over 40,000 children and adults every year.</p>

<p>We offer numerous outreach and on-site Environmental Education programs for children as well as adults. Over 5 miles of trails await you on 150 acres of woodland, prairie, river-side and pine forest. Hike or ski anytime between dawn and dusk. The Visitors Center is a great place to start with interpretive and live creature displays!</p>
