<h2><a href="http://www.woldumar.org/pdfs/scholarshipapp.pdf">Field Trip Program Scholarship Application</a></h2> <!-- Links to field trip scnoloarship application -->

<h2>Programs</h2>

<p>School children, residents, and tourists come here to participate in ongoing programs such as special field trips, a Traveling Naturalist program, and Project GREEN <!--Link to project green page --> (in which local high school students contribute to the study of the Grand River Watershed by testing water at various sites over time). These programs are designed to correlate with the Michigan essential goals and objectives for science education and assist teachers in meeting additional goals in social studies, math, history, and language arts.</p>

<p>Community programs are offered year-round for preschoolers, families, adults, and seniors. These include Teeny Trekkers Preschool, the Young at Heart senior series, Camp Discovery (a summer day camp), scout programs, birthday parties, and facility rentals. </p>

<p>Learn more about our:</p>
<ul>
<li>Special Events</li> <!--link to special events page-->
<li>School Programs</li> <!--Link to programs -->
<li>Scout Programs</li> <!--link to scout program page-->
<li>Summer Camps</li><!--link to summer camp main page-->
<li>Spring Break Camps</li><!--link to spring break camp-->
<li>Birthday Parties</li><!--link to birthday party-->Community Programs</li>
<li>Building Rentals</li>  <!-- Links to the Building Rental page -->
<li>Project GREEN</li>  <!-- Links to the Project Green Page-->
</ul>