<h1> Get Involved with Woldumar</h1>

<p>There are of ways you can get involved with Woldumar Nature Center. Woludmar Woldumar is a self-funded 501(c)3 non-profit environmental education center. Funding sources include member contributions, modest program fees, fundraising events, support from businesses and corporations and, on occasion, grants to develop new programs. Volunteer time and item/service donations are also a tremendous source of support. We are a United Way recipient agency with Capital Area United Way, Eaton County United Way and others. No tax dollars are used to support this organization. </p>

<h3>Please consider these options to contribute to the funding of Woldumar:</h3>
<ul>
<li>Donate directly to Woldumar online! </li>

<li>Woldumar's "Wish List" -- just click here<!--LINK TO WISH LIST-->for the list...maybe there is something specific there that you'd like to donate!</li>


<li><p>Our "In Memory of..." program provides you an opportunity to honor a loved one through a donation to Woldumar. Clicking on this link will open the form you can use to make a donation. Donation Form <!--ADD LINK TO DONATION FORM-->Arrangements can also be made to dedicate a beautiful memorial bench or to plant a tree with a memorial plaque on Woldumar's grounds. </p>
<p><b>Benches</b></p>   <!--Link to Benches order form-->    
<p><b>Plants</b></p> <!--Link to Plants order form -->
<p>At this time, "In Memory of...." is not part of our On Line Donation system. Donations should be sent to Woldumar by mail or brought to the Woldumar business office.Please call Lori McSweeney at (517)322-0030 with any questions.</p></li>


<li>Stocks, Bonds, Real estate -- We do not yet have details online yet for this option, please call Lori McSweeney at (517)322-0030 with any questions at this time.</li>
</ul>

<p>You can also make a financial contribution to Woldumar's efforts through the following links: <p>

<p><a href="http://www.ecuw.org/">Eaton County United Way </a></p>

<p><a href="http://http://www.capitalareaunitedway.org/">Capital Area United Way</a></p> 
