<% # Image slider %>
<div id="rotator">
   <ul id="pic_format">
     <li><img src="/images/header_photos/frog_in_water.jpg"/></li>
     <li><img src="/images/header_photos/winter_wonderland.jpg"/></li>
    <li><img src="/images/header_photos/band_playing_outside.jpg"/></li>
    <li><img src="/images/header_photos/civil_war_reenactment.jpg"/></li>
    <li><img src="/images/header_photos/kids_learning.jpg"/></li>
    <li><img src="/images/header_photos/kids_learning_in_water.jpg"/></li>
    <li><img src="/images/header_photos/snake_close_to_it.jpg"/></li>
    <li><img src="/images/header_photos/fall_leaves.jpg"/></li>
   </ul>
</div>

<div id="slider-bar">
  <div class="sec1">
   
    <div class="right_side">
      <div class="sec_title1">Programs</div>
      <div class="dot"></div>
      <div class="read_more"><h5>Read More</h5></div>
    </div>
    <div class="photo"><img src="images/small_pics/programs_photo.jpg"/></div>
  </div>
 
  <div class="sec1">
    <div class="right_side">
      <div class="sec_title1">Special Events</div>
      <div class="dot"></div>
      <div class="read_more"><h5>Read More</h5></div>
    </div>
    <div class="photo"><img src="images/small_pics/special_events_photo.jpg"/></div>
  </div>

  <div class="sec1">
    <div class="right_side">
      <div class="sec_title1">Donate</div>
      <div class="dot"></div>
      <div class="read_more"><h5>Read More</h5></div>
    </div>
    <div class="photo"><img src="images/small_pics/donate_photo.jpg"/></div>
  </div>
</div>

<div id="col-container">
  <div id="left-col">
    <div id=line_one>Welcome</div>
   <div id=line_two>To Woldumar Nature Center</div>
   <div id=sizing>
    <p>Each year, Woldumar Nature Center - a private, non-profit environmental education organization  - attracts some 40,000 visitors from across mid-Michigan.</p>
    <p>Situated along the Grand River with 1.25 miles of shoreline, Woldumar represents one of the most diverse ecosystems   in the region. More than 5 miles of trails await you on 178 acres of woodland, prairie, river-side and pine forest!   Hike or ski anytime between dawn and dusk.</p>
    <p>We offer numerous outreach and on-site Environmental Education
    programs for children as well as adults. The Visitors Center is a
    great place to start with interpretive and live creature
    displays!</p>
    </div>
  </div>
  <div id="right-col">

    <div class="box">
      <fb:like-box href="http://www.facebook.com/Woldumar" width="180" height="75" show_faces="false" stream="false" header="true"></fb:like-box>
    </div>

    <div class="box">
      <h3>Hours Of Operation</h3>
      <hr>
      <div id = "space"><div id="bold">Saturday</div> 10:00 am to 5:00 pm</div>
      <div id = "space"><div id="bold">Sunday</div> 12:00 PM to 4:00 PM</div>
      <div id = "space">Trails are open dawn to dusk, 365 days a year. <a href="http://www.woldumar.org/pdfs/trailmap.pdf" target="_blank">View the trail map</a>.</div>
    </div>

    <div class="box">
      <h3>Events</h3>
      <hr>
      <div id="space">Events go here!</div>
  </div>
</div>
