<h1>Welcome to Woldumar Nature Center</h1>

<p>Woldumar's mission is to educate people about the natural environment.</p>

<p>Each year, Woldumar Nature Center - a private, non-profit environmental education organization - attracts some 40,000 visitors from across mid-Michigan.</p>
<p>Situated along the Grand River with 1.25 miles of shoreline, Woldumar represents one of the most diverse ecosystems in the region. More than 5 miles of trails await you on 178 acres of woodland, prairie, river-side and pine forest! Hike or ski anytime between dawn and dusk. View Trail Map</p>
<p>We offer numerous outreach and on-site Environmental Education programs for children as well as adults. The Visitors Center is a great place to start with interpretive and live creature displays!</p>
