<h1>Woldumar Services</h1>

<p>Woldumar is Dedicated to Environmental Education. We offer programs uniquely tailored to a variety of groups. We also welcome requests for programs to meet your specific needs.</p>

<p>Woldumar Nature Center offers the following services at select times and seasons of the  year. The proceeds of these services support Woldumar and its environmental education programs.</p>

<p>Woldumar Services include:
<ul>
<li>Birdseed Orders</li> <!--Link to birdseed order-->
<li>Native Plant Orders</li><!--link to native plant order-->
<li>Native Plant Guide<li><!--link to native plant guide-->
<li>Woldumar Honey Order</li><!--link to honey order-->
<li>Building Rental</li><!--link to building rental-->
</ul>
</p>

<p>If you are looking for other ways to support Woldumar, please consider getting involved directly with the Center.
<ul>
<li>Donations</li> <!--Link to donations page-->
<li>Membership</li> <!--link to memebership page-->
<li>Volunteer</li> <!--link to volunteer page-->
<li>Wish List</li> <!--link to the wish list page-->


