<h1>Membership</h1>

<p>We are members because we believe in the mission of Woldumar; educating people, especially youth, about the environment. We'd like to see more people involved in preserving the earth. - Ken and Vi Kortge Members since 1976 </p>
<p>Membership benefits</p>
<ul>
<li>Reduced admission to Woldumar events </li>
<li>Exclusive member-only events </li>
<li>Priority program notification </li>
<li>Free use of Woldumar's trails </li>
<li>Subscription to "Woods Water Wonder" Newsletter </li>
<li>Discount on WolduMarket Gift Shop purchases </li>
<li>Free or reduced admission to 142 nature centers nationwide </li>
</ul>

<p><a href="http://woldumar.org/pdfs/anca_reciprocal_list_may_2010.pdf">Download the list of participating nature centers.</a> </p>

<p>Membership privileges extend to those individuals who live at the member's address. Memberships are renewed annually in October and cost $42 per household. </p> 
<p>Complete the <a href="THIS IS NOT HERE YET">Membership Application/Renewal Form.</a><p>  <!-- ADD LINK TO THE MEMBERSHIP APPLICATION -->

<p>Ensure that your contributions will create a permanent legacy by joining the Lifetime Endowment Membership Program. </p>

<p>You will be helping to preserve 150 acres of woodland, prairie, river shoreline and pine forest! Your financial support will directly help to provide the programming offered by Woldumar. For more information on membership, please contact Woldumar at 517-322-0030.</p>