<h1>Volunteers make Woldumar's mission possible</h1>

<p>Download Brochure </p>

<p>Woldumar Nature Center is a self-funded 501(c)3 non-profit environmental education center. Volunteers are a vital component to the regular operation of the organization. </p>

<p>Volunteer opportunities abound at Woldumar Nature Center! We currently need volunteers to assist with day-to-day operations and special events. Please contact Woldumar Volunteer Coordinator Essie Solano at (517) 322-0030 and let us know if you are available to help. Together we can make a difference! </P>

<p>There are a broad range of volunteer opportunities in which individuals and groups can participate. Community Service hours can be accomplished within a regularly scheduled program or on an individually-scheduled basis. </p>

<p><h2>Some of the areas of work include:</h2>
<ul>
<li>Grounds And Facilities Maintenance, i.e. trail work, gardening, display/exhibit work</li>
<li>Program Assistants
School & community programs, day camps</li>
<li>Historical Interpretation (Docents)
Cultural/historical programs in period costumes</li>
<li>Gift Shop Attendants
Opening/closing, cashiering, restocking etc.</li>
<li>Office Assistants
Assist with mailings, filing, data entry etc.</li>
<li>Theatre Concessions
With a couple of hours here and there, help fund Woldumar Nature Center</li>
<li>Gardeners
A new program for Master Gardeners or gardening lovers is in the works. Get in on the ground floor and help show off Woldumar's several different gardens.</li></ul></p>

<h2>Woldumar Events</h2>

<p>Event volunteers are needed in planning, setup, day-of activities and teardown. Interested volunteers must call in advance to schedule a time and activity for each event. 
<ul>
<li>"Chili" Winter Evening & Sleigh Ride (January)</li>
<li>Wildflower Weekend Art Show and Pancake Breakfast (Mother's Day Weekend)</li>
<li>American Heritage Festival (Last weekend in September)</li> </ul></p>
<p>We are happy to set up work schedules on an individual basis for regular volunteer. Other opportunities are available upon request. If you or your group is interested in volunteering, please call (517)322-0030 for more information. </p>

<p>Group volunteer/community service opportunities are available. </p>

<h2>Docent Opportunities</h2>
<ul> <li>Woldumar Docents are Special</li>
  <li>Woldumar Docents are classy</li>
  <li>Woldumar Docents love history</li>
  <li>Woldumar Docents love to teach</li>
  <li>Woldumar Docents share love of our environment</li>
  <li>We just love what we do, we hope you'll join us.</li>
</ul>

<p>If you enjoy history and sharing it with others, becoming a docent at Woldumar may be just your cup of tea. Our Docents become knowledgeable about our center and pioneer life in Mid-Michigan and share what they've learned with visitors and guests during events and special occassions. To find out more, call or email us. </p>

<h2>Barn Performance Schedule Planner</h2>

<p>Woldumar needs volunteers to work Concessions during performances. Contact Volunteer Coordinators for upcoming events and activities.</p>
