<H1>Wish List</h1>

<p>We need your help. Woldumar has been in existence for nearly 40 years. Much of the equipment and tools needed to maintain the facilities and the land are either nonexistent or they are completely worn out. The following is a list of the immediate needs in order to continue maintaining the property and our programs as they should be maintained.<p>

<p>If you have an item that is listed below or if you have an item that you think we might like, call (517) 322-0030, email info@woldumar.org or stop by to see if it can be donated. Woldumar is a 501(c)3 nonprofit. Your donations and contributions are completely tax-deductible. </p>


<h1>Educational Supplies </h1>

<h2>Books, Videos, and Educational Materials</h2>
<ul>
<li>Children's Literature: non-fiction about Michigan's plants and animals</li>
<li>Children's Literature: read-aloud fictional stories about Michigan's plants and animals</li>
<li>Field guide books - sets of 10 each preferred for classrrom and camper instruction</li>
<li>Non-fiction books: nature related, environmental education related and gardening</li>
<li>Educational videos about Michigan's plant and animal life</li>
<li>Authentic and reproduction Native American Artifacts – historical and contemporary, from Michigan tribes</li>
<li>Authentic and reproduction pioneer artifacts dating between 1850-1890
<li>Enviroscape</li>
</ul>


<h2>Scientific Equipment</h2>
<ul>
<li>Animal Mounts-Native Michigan Animals</li>
<li>Skins of Michigan animals</li>
<li>Skulls of Michigan animals</li>
<li>Owl pellets</li>
<li>Microscopes</li>
<li>Magnifying glasses (30)</li>
<li>Folding “pocket” magnifiers (30)</li>
<li>Topographic maps of Ingham and Eaton counties (1 each township)</li>
<li>Weather monitoring station</li>
<li>Climate monitoring equipment</li>
<li>Soil monitoring equipment</li>
<li>Rock and mineral ID sets (10 each)</li>
</ul>


<h2>Outdoor Equipment</h2>
<h3>General</h3>
<ul>
<li>Camp stools (60)</li>
<li>Compasses (60)</li>
</ul>

<h3>Watercraft</H3>
<ul>
<li>Canoes with paddles</li>
<li>Kayaks with paddles</li>
<li>Children's life vests (MI certified)</li>
<li>Fishing rods and reels (Project FISH discount can be applied to fishing items by contacting Stephaney)</li>
<li>Fishing tackle</li>
</ul>

<h3>Winter Equipment</h3>
<ul>
<li>Sleds</li>
<li>Youth and Adult snowshoes (varying sizes)</li>
<li>Youth and adult cross country skis and boots (varying sizes)</li>
</ul>


<h3>Maple Syrup Production</h3>
<ul>
<li>Maple sugaring equipment - small evaporating pan that can be placed over an open fire, buckets, spiles, taping brace and bit, bucket covers.</li>
<li>Stream depth gauge</li>
</ul>

<h3>Forestry, Entomology, and Beekeeping</h3>
<ul>
<li>Insect collecting nets and replacement bags</li>
<li>D-frame, heavy duty dip nets (3) and replacement bags</li>
<li>Forestry diameter tapes (10)</li>
<li>Forestry tree calipers (1)</li>
<li>Forestry increment borer (1 with 20" or 24" bit)(1 with 20" or 24" bit)</li>
<li>Forestry cruise angles (10)</li>
<li>Forestry Biltmore sticks (10)</li>
<li>Youth size waders (10 pair - varying sizes)</li>
<li>Adult size waders (4 pair - varying sizes)</li>
<li>Youth size beekeeping clothing (20 veil/suit and gloves in varying sizes)</li>
<li>Adult size beekeeping clothing (10 veil/shirt and gloves in varying sizes)</li>
<li>Bee hive supers with frames, and frame foundation for behives.</li>
</ul>

<h2>Craft Supplies</h2>
<ul>
<li>Scissors for children</li>
<li>Washable Markers</li>
<li>Construction paper</li>
<li>Tempera paint</li>
<li>Face paint</li>
<li>Nature stickers</li>
<li>Clay - air-dry only</li>
<li>Beads</li>
<li>Feathers</li>
<li>Play sand</li>
<li>Colored sand</li>
<li>Scrap fabric - large and small pieces</li>
<li>Ribbon</li>
</ul>

<h2>Needed for Renovation</h2>
<ul>
<li>Infant Changing Tables(wall mount) two needed</li>
<li>Cork boards</li>
<li>Lightweight stackable chairs (preferably white) - 200</li>
<li>Lightweight tables - 5' round, 6' and 8' rectangle </li>
</ul>

<h2>Flag</h2>
<ul>
<li>6' X 10' United States of America Flag; weather resistant</li>
</ul>

<h2>Grounds Equipment</h2>
<h3>General</h3>
<ul>
<li>Screws (3" to 4") & related hardware for outdoor use</li>
<li>Light bulbs - please call us to see what we need</li>
<li>Extension cords</li>
</ul>

<h3>Tools</h3>
<ul>
<li>Manual & gas-powered hedge trimmers</li>
<li>String Trimmers, gas-powered</li>
<li>Power washer</li>
<li>Wood Chipper</li>
<li>Loppers</li>
<li>Tree trimmers</li>
<li>Garden hoses</li>
<li>Sprinklers</li>
<li>Garden weasel</li>
<li>Large fan for entry area of barn</li>
<li>Large space heater for entry area of barn</li>
<li>Drip torches - for prairie maintenance</li>
<li>Water backpacks - for prairie maintenance</li>
<li>Flappers- for prairie maintenance</li>
<li>Self-propelled snowblower</li>
<li>Riding Lawn Mower - 42"- 48" deck</li>
<li>Hand tools and power tools - please call us to see what we need</li>
</ul>

<h2>Office Supplies for educational use</h2>
<ul>
<li>Permanent markers (Sharpies) - all colors</li>
<li>Photo Paper, 8 1/2 x 11, premium quality</li>
<li>Ink for Dell Printers, black and color - please call for model numbers</li>
<li>Printer paper</li>
<li>Page dividers</li>
<li>Staplers</li>
<li>Heavy duty stapler</li>
<li>Staples</li>
<li>Ethernet Computer Cord</li>
<li>Bulk CAT 5 Wire, spool if possible</li>
<li>Tape - masking and transparent</li>
<li>Pens - black and blue ink</li>
<li>Dry erase markers - all colors</li>
</ul>

<h2>Event Supplies </h2>
<ul>
<li>100-cup coffee maker</li>
<li>Serving carafes</li>
<li>Salt and pepper shakers - 12 matching sets preferred</li>
<li>Stainless steel chafing dish sets</li>
<li>Stainless steel serving spoons, tongs, and other service pieces</li>
<li>Large serving trays</li>
<li>Stands for serving trays</li>
<li>Table linens, we need blue and green napkins (100 each) - please call for table sizes if you would like to donate table cloths.</li>
<li>Bus tubs</li>
</ul>

<h2>First Aid Supplies</h2>
<ul>
<li>First Aid Kits</li>
<li>Band-aids - all sizes, preferably fabric</li>
<li>Disposable gloves</li>
<li>Travel size Kleenex</li>
<li>Saline nasal solution</li>
</ul>

<h2>Animal Care Supplies</h2>
<h3>Food Supplies</h3>
<ul>
<li>Whole grain oat cereal (similar to "Cheerios" brand)</li>
<li>"Monkey Chow" - can be found in smaller quantities from Preuss' and Soldan's</li>
<li>Food mix for squirrels ("Critter Mix" from Soldans or other similar mix)</li>
<li>"Repto-Min" turtle food</li>
<li>Night crawlers</li>
<li>Minnows (in small quantities please, as we have no place to care for them)</li>
<li>Crickets (please call to find out our ordering schedule)</li>
<li>Cricket food</li>
<li>Fresh produce – bananas, greens, apples, sweet potatoes, potatoes, carrots</li>
<li>Nuts - shelled or whole</li>
</ul>

<h3>Aquatic equipment</h3>
<ul>
<li>Pumps and filters for large aquariums (we have two 90 gallon aquariums and three 150 gallon aquariums)</li>
<li>Parts and replacement filtering substrate for “Fluval” brand pumps, models 204 and 403</li>
<li>“Prime” water treatment solution</li>
<li>Expandable siphon tube for cleaning aquariums</li>
</ul>
Sorry we currently do not need glass aquariums

<h3>Other Materials</h3>
<ul>
<li>Bedding for mammals - preferably non-cedar</li>
<li>Reptile bedding/substrate</li>
<li>Reptile light fixtures and bulbs, full spectrum bulbs that fit in a conventional light fixture</li>
<li>Clear plastic carriers for small animals</li>
</ul>

<p>Check out our Amazon.com wishlist </P>

<h2>Thank You</h2>
<p>Thank you for the following items which have been received from previous wish lists:
<ul>
<li>Accessible Lift - The Greater Lansing Foundation Ransom E. Olds Fund </li>
<li>Rotiller, canoe, outboard motor, kitchen countertop
Woodworks & Design </li>
<li>Roofing material - Bob Armitage </li>
<li>Snowblower - Gordon Walter and Home Depot </li>
<li>Construction supplies - LumberTown, Hazen Lumber Co., MPC Cashway Lumber, Heart Truss & Engineering, Boichot Concrete, Clark Construction, ET MacKenzie, Wicks Lumber </li>
<li>Gardening supplies - Van Atta's Green House, Builders Square </li>
<li>Electrical - Board of Water & Light, FD Hayes Electric </li>
<li>Labor force - General Motors & Woldumar volunteers </li>
<li>Building Architects - Ken Fitzgerald & Haussman Construction </li>
<li>Landscape Architects - Tony Bauer, Deb Kinney & Bruce Stewart </li>
<li>Graphic & Web Design - Connection Graphics </li>
<li>Flax Spinning Wheel & Antique phonograph - Rogna Family </li>
<li>Fanning Mill & Corn Cobber - Tom Schneeberger </li>
<li>Antique wash tub - Dennis Burt </li>
<li>Signage - ACE Graphics, Stamprite, Commercial Blueprint </li>
<li>Project GREEN, Jobs Bank Labor Force - General Motors Corporation</li> </ul></p>
<p>Individually we make a difference today, together we make a difference for the future!</p> <!--This is an H2 on the current site - not sure it needs to be but, may want to emphasize somehow -->

<p>Thank you for your support!</p>